<div class="parent">
  <div class="fixDiv"></div>
  <div class="page">
    <p-breadcrumb class="max-w-full" [model]="items">
      <ng-template pTemplate="item" let-item>
          <a [routerLink]="item.routerLink" class="p-menuitem-link" routerLinkActive="text-primary font-semibold">
              <span *ngIf="item.icon" [ngClass]="item.icon" class="mr-2"></span>
              <span>{{ item.label }}</span>
          </a>
      </ng-template>
    </p-breadcrumb>

    <p-card   [style]="{ width: '100%' }">
      <ng-template pTemplate="header">

        <div class="header-section">
          <div class="extra-ellipse"></div>
          <span class="status-tag" *ngIf="staffProfile?.is_Available">Available</span>
          <span class="status-tag" style="background:red;" *ngIf="!staffProfile?.is_Available">Not Available</span>

            <div class="profile-image">
              <img [src]="staffProfile?.picture || 'workerImg.png'" alt="Profile" />
                <h3 class="name">{{  staffProfile?.name }}</h3>
                <!-- <span class="role">{{ profileData?.type }}</span> -->
            </div>

        </div>
    </ng-template>

    <div  >
        <div class="personal-info">Personal Information</div>
        <div class="info-grid">
            <div>
                <div *ngIf="staffProfile?.type !=='company'" class="h">Email:</div>
                <div *ngIf="staffProfile?.type ==='company'" class="h">Company Email:</div>

                <div class="i">{{ staffProfile?.email }}</div>
            </div>
            <!-- <div>
                <div class="h">Date Of Birth:</div>
                <div class="i">{{ profileData?.doB }}</div>
            </div> -->

            <div>
                <div  class="h">Address:</div>
                <!-- <div *ngIf="profileData?.type ==='company'" class="h">Company Address:</div> -->

               <div class="i">{{ staffProfile?.address }}</div>
            </div>
            <div>
              <div  class="h">Whatsapp Number:</div>
              <!-- <div *ngIf="profileData?.type ==='company'" class="h">Phone Number:</div> -->

              <div class="i">{{ staffProfile?.wA_No }}</div>
          </div>
          <!-- <div>
            <div *ngIf="profileData?.type ==='company'" class="h">Company Name:</div>
            <div *ngIf="profileData?.type ==='company'" class="i">{{ profileData?.company_Name }}</div>
        </div> -->
        <!-- <div>
          <div *ngIf="profileData?.type ==='company'" class="h">Tax registration number :</div>
          <div *ngIf="profileData?.type ==='company'" class="i">{{ profileData?.tax_No }}</div>
      </div> -->
        </div>
    </div>


    <div class="divider"></div><!-------------------------------------------------------->

    <div class="skills-section">
        <div class="personal-info">Skills</div>
        <div class="skills">
            <p-chip *ngFor="let skill of staffProfile?.skills" label="{{ skill }}"></p-chip>
            <!-- <p-chip   label="alaa"></p-chip> -->

        </div>
    </div>



    <!-- <div *ngIf="staffProfile?.additional_Skills!==''" class="additional-skills">
        <div class="working-days mt-4 mb-2" style="padding-bottom:5px !important">Additional skills</div>
        <div class="i">{{ staffProfile?.additional_Skills }}</div>
    </div> -->


    <div class="divider"></div><!-------------------------------------------------------->



    <div style="margin-bottom: 32px;">
      <div class="personal-info">Availability Details</div>

      <div style="margin-bottom: 24px;">
        <div class="working-days mb-2">Working days</div>
        <div class="days-list">
          <!-- Loop through each day and add "active" class only if it exists in worker_Availabilities -->
          <p-chip *ngFor="let day of daysOfWeek"


                  >

                    <div   style="margin-bottom: 24px;">
                      <!-- <div class="working-days mb-2">Working hours</div> -->
                      <div  style="padding: 5px;"   [ngClass]="{'day-chip active': isDayAvailable(day), 'day-chip inactive': !isDayAvailable(day)}">
                        <!-- Find the availability for the current day -->
                         <i *ngIf="isDayAvailable(day)" class="pi pi-check-circle "></i>
                         <span class="mr-2" >{{day}}</span>
                         <span  style="margin-right: 5px;"  *ngIf="isDayAvailable(day)">
                          <span style="color: #FFB900;"> From</span>

                          {{
                            getWorkingHours(day)?.from || 'N/A'
                          }}
                         </span>
                         <span    *ngIf="isDayAvailable(day)">
                          <span style="color: #FFB900;"> To</span>
                          {{
                            getWorkingHours(day)?.to || 'N/A'
                          }}
                         </span>




                      </div>
                    </div>

          </p-chip>
        </div>
      </div>

      <div class="working">
        <!-- <div style="margin-bottom: 24px;">
          <div class="working-days mb-2">Working hours</div>
          <div class="i">

            From {{ staffProfile?.staff_Avaliabilities[0]?.from || 'N/A' }} to {{ staffProfile?.staff_Avaliabilities[0]?.to || 'N/A' }}
          </div>
        </div> -->

        <div style="margin-bottom: 24px;">
          <div class="working-days mb-2">Emergency Service</div>
          <div class="i">{{ staffProfile?.is_Emergency_Exist ? 'Yes' : 'No' }}</div>
        </div>
      </div>
    </div>


    <div class="divider"></div><!-------------------------------------------------------->



    <div  >
      <div class="personal-info">Bank details</div>
      <div class="info-grid">
          <div>
              <div class="h">Bank Name</div>
              <div class="i"> {{ staffProfile?.bank_Name || 'N/A' }}</div>
          </div>
          <div>
              <div class="h">Account Holder’s Name </div>
              <div class="i"> {{ staffProfile?.bank_Account_Holder || 'N/A' }}</div>
          </div>

          <div>
              <div class="h">Account Number/IBAN</div>
             <div class="i"> {{ staffProfile?.account_Iban || 'N/A' }}</div>
          </div>
          <div>
            <div class="h">BIC Code</div>
            <div class="i">{{ staffProfile?.biC_Code || 'N/A' }} </div>
        </div>

      </div>
  </div>


  <div class="divider"></div><!-------------------------------------------------------->



    <div class="id-section mt-4">
        <div class="h">Image of ID</div>
        <div class="id-images">
            <img [src]="staffProfile?.attachment || 'staticPass.png'" alt=" ID" />
            <!-- <img src="staticPass.png" alt="Back ID" /> -->
        </div>

    </div>


    <div class="divider"></div>

    <ng-template pTemplate="footer">
        <div class="actions">

            <!-- <button pButton label="Accept" class="accept p-button"></button> -->
            <p-button   class="accept" [label]="isDeactivate ? 'Deactivate' : 'Accept'" />
             <p-button (onClick)="showDialog()" class=" reject " label="Reject" />

        </div>
    </ng-template>
  </p-card>


  </div>




  <!-- <p-button (onClick)="showDialog()" label="Show" /> -->
<p-dialog header="rejection reason" [modal]="true" [(visible)]="visibleReject" [style]="{ width: '25rem' }">
    <span class="p-text-secondary block mb-5"> Write your reason.</span>
      <textarea
        rows="5"
        cols="30"
        pInputTextarea
        [style]="{ width: '100%' ,'margin-bottom':'15px' }"
        >
    </textarea>
    <div class="flex justify-content-end gap-2">

        <p-button (onClick)="visible = false" class="accept" label="Cancel" />
        <p-button  class=" reject " label="Send" />

    </div>
</p-dialog>

<p-dialog class="DS"  [modal]="true" [(visible)]="visibleSuccess" [style]="{ width: '25rem' }">

  <div class="success">
    <div class="featured-icon">
      <img src="tick_done.svg"/>
    </div>
      <div class="textS">Accepted successfully!</div>
      <!-- <div class="textS2">rejection reason has been sent successfully.</div> -->


      <p-button (onClick)="visibleSuccess = false" class="accept" label="Back to workers requests" />

  </div>
</p-dialog>

<p-dialog class="DS"  [modal]="true" [(visible)]="visibleSuccessR" [style]="{ width: '25rem' }">

  <div class="success">
    <div class="featured-icon">
      <img src="tick_done.svg"/>
    </div>
      <div class="textS">send successfully!</div>
      <div class="textS2">rejection reason has been sent successfully.</div>


      <p-button (onClick)="visibleSuccessR = false" class="accept" label="Back to workers requests" />

  </div>
</p-dialog>



<p-dialog class="DS"  [modal]="true" [(visible)]="visibleSuccessD" [style]="{ width: '25rem' }">

  <div class="success">
    <div class="featured-icon">
      <img src="tick_done.svg"/>
    </div>
      <div class="textS">Deactivated successfully!</div>
      <!-- <div class="textS2">rejection reason has been sent successfully.</div> -->


      <p-button (onClick)="visibleSuccessD = false" class="accept" label="Back to workers requests" />

  </div>
</p-dialog>


<!-- <p-dialog class="DS"  [modal]="true" [(visible)]="visibleSuccess" [style]="{ width: '25rem' }">

  <div class="success">
    <div class="delete-icon">
      <img src="deleteworker.svg"/>
    </div>
      <div class="textS">Confirm deletion of user account</div>
      <div class="textS2">Are you sure you want to delete your account? This action is irreversible and will permanently delete all data associated with your account.</div>


      <div class="flex justify-content-between gap-2 w-full">

        <p-button (onClick)="visibleSuccess = false" class="acceptt w-50" label="Cancel" />
        <p-button (onClick)="visibleSuccess = false" class=" rejectt w-50" label="Send" />

    </div>

  </div>
</p-dialog> -->
