<div
  *ngIf="firstStep"
  class="d-flex justify-content-center align-items-center mb-3 login "
>
  <div class="w-sm-50">
    <div class="text-center"><img src="./logo.svg" class="mb-3" /></div>
    <div>
      <h2 class="text-center fw-bold">Forgot your Password ?</h2>
      <p class="text-center text-color text-weight">
        Enter your Email below and we‘ll send you OTP to reset it
      </p>
    </div>
    <p-toast></p-toast>

    <!-- start form log in -->
    <form [formGroup]="emailForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label
          for="exampleInputEmail1"
          class="form-label text-color text-weight"
          >Email
        </label>
        <input
          type="email"
          formControlName="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
        />
        <div
          class="text-danger mt-3 error d-flex align-items-center"
          *ngIf="
            emailForm.get('email')?.errors &&
            (emailForm.get('email')?.touched || submitted)
          "
        >
          <i class="fa-solid fa-ban text-danger mx-2"></i>
          <p class="mb-0 text-danger">Email is required</p>
        </div>
      </div>
     
      <button type="submit" class="btn btn-sign p-3 w-100" >
        Send OTP
      </button>

      <div class="flex justify-content-center align-items-center gap-2 mt-4">
        <div class="subLabel">Remember your password ?</div>
        <div [routerLink]="'/login'" class="backLabel" style="cursor: pointer">
          Back to Log in
        </div>
      </div>
    </form>
    <!-- end form log in -->
  </div>
</div>

<!--------------------------------------------------------------------------->

<div
  *ngIf="secondStep"
  class="d-flex justify-content-center align-items-center mb-3 login"
>
  <div class="w-sm-50">
    <div class="text-center"><img src="./logo.svg" class="mb-3" /></div>
    <div>
      <h2 class="text-center fw-bold">Check your Email</h2>
      <p class="text-center text-color text-weight">
        We send a OTP to {{ email }}
      </p>
    </div>
    <p-toast></p-toast>

    <!-- start form log in -->

    <div class="mb-3 flex justify-content-center align-items-center">
      <p-inputOtp [length]="6" [(ngModel)]="otpValue" />
    </div>

     <!-- Error Message -->
     <div *ngIf="errorMessage" class="text-danger text-center">
      {{ errorMessage }}
    </div>

    <button   class="btn btn-sign p-3 w-100" (click)="verifyOTP()">Verify Email</button>

    <div class="flex justify-content-center align-items-center gap-2 mt-4">
      <div class="subLabel">Remember your password ?</div>
      <div [routerLink]="'/login'" class="backLabel" style="cursor: pointer">
        Back to Log in
      </div>
    </div>

    <!-- end form log in -->
  </div>
</div>

<!--------------------------------------------------------------------------->

<div
  *ngIf="thirdStep"
  class="d-flex justify-content-center align-items-center mb-3 login"
>
  <div class="w-sm-50">
    <div class="text-center"><img src="./logo.svg" class="mb-3" /></div>
    <div>
      <h2 class="text-center fw-bold">Set New Password</h2>
      <p class="text-center text-color text-weight">
        Your new password must be different to previously used passwords
      </p>
    </div>
    <p-toast></p-toast>

    <!-- start form log in -->
    <form [formGroup]="resetForm" (ngSubmit)=" onResetSubmit()">

    <div class="mb-3">
      <label
        for="exampleInputPassword1"
        class="form-label text-color text-weight"
        >Password</label
      >
      <div class="password">
        <input
          [type]="passwordVisible ? 'text' : 'password'"
          formControlName="password"
          class="form-control"
          id="exampleInputPassword1"
        />
        <img
          class="eye"
          *ngIf="passwordVisible"
          src="./eye.png"
          alt=""
          role="button"
          (click)="togglePasswordVisibility()"
        />
        <img
          class="eye"
          *ngIf="!passwordVisible"
          src="./hide-eye.png"
          role="button"
          (click)="togglePasswordVisibility()"
        />
      </div>
      <!-- ✅ Password Validation Messages -->
      <div *ngIf="submitted && resetForm.get('password')?.errors">
        <p class="text-danger" *ngIf="resetForm.get('password')?.hasError('required')">
          Password is required
        </p>
        <p class="text-danger" *ngIf="resetForm.get('password')?.hasError('minlength')">
          Password must be at least 6 characters
        </p>
      </div>
    </div>

     <!-- ✅ Error Message -->
     <div *ngIf="errorMessage" class="text-danger text-center">
      {{ errorMessage }}
    </div>

    <button type="submit" class="btn btn-sign p-3 w-100">Reset Password</button>

     
  </form>

    <!-- end form log in -->
  </div>
</div>
