<div
  *ngIf="firstStep"
  class="login-wrapper ">
  <!-- <img src="./imgLogin.svg"  style="width:50vw; height: 100vh;" /> -->
  <div class="text-start"><img src="./logo.svg" class="mb-3" style="width: 140px; height: 60px; position: absolute; top:20px; left:50px;" /></div>
  
    <div class="login-form-wrapper">
    <!-- <div class="text-center"><img src="./logo.svg" class="mb-3" /></div> -->
    <div>
      <div class="flex justify-content-center align-items-center"> <img src="forgotKey.svg"/></div>
      <div class="text-center   headT">Forgot your Password ?</div>
          <p class="text-center subT" style="color: var(--Neutrals-Neutrals700, #727272);
          text-align: center;
          font-family: Poppins;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: 30px;
          max-width: 374px;">
        Enter your Email below and we‘ll send you OTP to reset it
      </p>
    </div>
    <p-toast></p-toast>

    <!-- start form log in -->
    <form [formGroup]="emailForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label
          for="exampleInputEmail1"
          class="form-label text-color text-weight"
          >Email<span class="required-star ml-1">*</span>
        </label>
        <!-------------------------------->
        <div class="input-icon-wrapper">
          <img src="./emailInput.svg" alt="email" class="input-icon">
          <input
          type="email"
          formControlName="email"
          class="form-control inputclass"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
        />
        </div>
<!---------------------------------------->        
        <!-- <input
          type="email"
          formControlName="email"
          class="form-control inputclass"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
        /> -->
        <div
          class="text-danger mt-3 error d-flex align-items-center"
          *ngIf="
            emailForm.get('email')?.errors &&
            (emailForm.get('email')?.touched || submitted)
          "
        >
          <i class="fa-solid fa-ban text-danger mx-2"></i>
          <p class="mb-0 text-danger">Email is required</p>
        </div>
      </div>
     
      <button type="submit" class="btn btn-sign p-3 w-100"   style="background-color:#1151B4 !important;padding: 8px 16px !important;" >
        Send OTP
      </button>

      <div class="flex justify-content-center align-items-center gap-2 mt-4 fixflex">
        <div class="subLabel">Remember your password ?</div>
        <div [routerLink]="'/login'" class="backLabel" style="cursor: pointer;color:#1461D8">
          Back to Log in
        </div>
      </div>
    </form>
    <!-- end form log in -->
  </div>
  <div class="login-image-wrapper">
    <img src="./imgLogin.svg" alt="Login Image" />
  </div>
</div>

<!--------------------------------------------------------------------------->
<!--*ngIf="secondStep"-->
<div
*ngIf="secondStep"
  class="login-wrapper ">
  <!-- <img src="./imgLogin.svg"  style="width:50vw; height: 100vh;" /> -->
  <div class="text-start"><img src="./logo.svg" class="mb-3" style="width: 140px; height: 60px; position: absolute; top:20px; left:50px;" /></div>
  
    <div class="login-form-wrapper">
    <!-- <div class="text-center"><img src="./logo.svg" class="mb-3" /></div> -->
    <div>
      <div class="flex justify-content-center align-items-center"> <img src="otpIcon.svg"/></div>

      <div class="text-center headT">Check your Email</div>
      <p class="text-center subT" style="color: var(--Neutrals-Neutrals700, #727272);
      text-align: center;
      font-family: Poppins;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 30px;
      max-width: 374px;">
        We send a OTP to {{ email }}
      </p>
    </div>
    <p-toast></p-toast>

    <!-- start form log in -->

    <div class="mb-3 flex justify-content-center align-items-center">
      <p-inputOtp [length]="6" [(ngModel)]="otpValue" />
    </div>

     <!-- Error Message -->
     <div *ngIf="errorMessage" class="text-danger text-center">
      {{ errorMessage }}
    </div>

<!-- <div style="width: 100%;"> -->
  <button   class="btn btn-sign p-3  bttn" (click)="verifyOTP()" style="background-color:#1151B4 !important;padding: 8px 16px !important;">Verify Email</button>

<!-- </div> -->

    <div class="flex justify-content-center align-items-center gap-2 mt-4 fixflex">
      <div class="subLabel">Remember your password ?</div>
      <div [routerLink]="'/login'" class="backLabel" style="cursor: pointer;color:#1461D8">
        Back to Log in
      </div>
    </div>

    <!-- end form log in -->
  </div>
  <div class="login-image-wrapper">
    <img src="./imgLogin.svg" alt="Login Image" />
  </div>
</div>

<!--------------------------------------------------------------------------->
<!---*ngIf="thirdStep"-->
<div
*ngIf="thirdStep"
  class="login-wrapper ">
  <!-- <img src="./imgLogin.svg"  style="width:50vw; height: 100vh;" /> -->
  <div class="text-start"><img src="./logo.svg" class="mb-3" style="width: 140px; height: 60px; position: absolute; top:20px; left:50px;" /></div>
  
    <div class="login-form-wrapper">
    <!-- <div class="text-center"><img src="./logo.svg" class="mb-3" /></div> -->
    <div>
      <div class="flex justify-content-center align-items-center"> <img src="passIcon.svg"/></div>

      <div class="text-center headT">Set New Password</div>
      <p class="text-center subT" style="color: var(--Neutrals-Neutrals700, #727272);
      text-align: center;
      font-family: Poppins;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 30px;
      max-width: 374px;">
        Your new password must be different to previously used passwords
      </p>
    </div>
    <p-toast></p-toast>

    <!-- start form log in -->
    <form [formGroup]="resetForm" (ngSubmit)=" onResetSubmit()">

    <div class="mb-3">
      <label
        for="exampleInputPassword1"
        class="form-label text-color text-weight"
        >Password <span class="required-star ml-1">*</span></label
      >
      <div class="password">
        <input
          [type]="passwordVisible ? 'text' : 'password'"
          formControlName="password"
          class="form-control"
          id="exampleInputPassword1"
          placeholder="Minimum 6 character"
        />
        <img
          class="eye"
          *ngIf="passwordVisible"
          src="./eyeO.png"
          alt=""
          role="button"
          (click)="togglePasswordVisibility()"
        />
        <img
          class="eye"
          *ngIf="!passwordVisible"
          src="./eye-slash.svg"
          role="button"
          (click)="togglePasswordVisibility()"
        />
      </div>
      <!-- ✅ Password Validation Messages -->
      <div *ngIf="submitted && resetForm.get('password')?.errors">
        <p class="text-danger" *ngIf="resetForm.get('password')?.hasError('required')">
          Password is required
        </p>
        <p class="text-danger" *ngIf="resetForm.get('password')?.hasError('minlength')">
          Password must be at least 6 characters
        </p>
      </div>
    </div>

     <!-- ✅ Error Message -->
     <div *ngIf="errorMessage" class="text-danger text-center">
      {{ errorMessage }}
    </div>

    <button type="submit" class="btn btn-sign p-3 w-100" style="background-color:#1151B4 !important;padding: 8px 16px !important;">Reset Password</button>

     
  </form>

    <!-- end form log in -->
  </div>
  <div class="login-image-wrapper">
    <img src="./imgLogin.svg" alt="Login Image" />
  </div>
</div>
