.login {
    height: 90vh;
  }
  img{
  width: 155px;
  height: 71px;
  }
  
  .text-color {
    color: #475467;
  }
  
  .text-weight {
    font-weight: 600;
  }
  
  .btn-sign {
    background-color: #1F4068;
    color: white;
    padding: 10px 0;
  }
  .password{
  position: relative;
  img{
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
  }
  }
  
  ::ng-deep .form-check input[type="checkbox"],
  ::ng-deep .radio input[type="radio"]{
  opacity: 1 !important;
  visibility: visible !important;
  }
  
  ::ng-deep .form-check .form-check-label{
  padding-left: 6px !important;
  
  }
  .subLabel{
    color: var(--Neutrals-Neutrals700, #727272);
    text-align: center;
    
    /* Global Tokens/Body/B-1 */
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
  }
  .backLabel{
    color: var(--Colors-Primary-700, #1151B4);

/* Global Tokens/Body/B-1/Medium */
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px;
  }