<div class="parent">
    <div class="fixDiv"></div>
    <div class="page">
      <p-breadcrumb class="max-w-full" [model]="items">
        <ng-template pTemplate="item" let-item>
          <a
            [routerLink]="item.routerLink"
            class="p-menuitem-link"
            routerLinkActive="text-primary font-semibold"
          >
            <span *ngIf="item.icon" [ngClass]="item.icon" class="mr-2"></span>
            <span>{{ item.label }}</span>
          </a>
        </ng-template>
      </p-breadcrumb>
  
      <p-toast></p-toast>
      <div class="content">
        <p-card>




            <div class="container">
                <div class="custom-tabview">
                  <div class="tab-menu">
                    <button
                      class="tab-button"
                      [class.active]="activeTab === 'basic-info'"
                      (click)="activeTab = 'basic-info'"
                    >
                      Basic Information
                    </button>
                    <button
                      class="tab-button"
                      [class.active]="activeTab === 'sessions'"
                      (click)="activeTab = 'sessions'"
                    >
                      Sessions
                    </button>
                    <button
                      class="tab-button"
                      [class.active]="activeTab === 'reviews'"
                      (click)="activeTab = 'reviews'"
                    >
                      Reviews
                    </button>
                  </div>
                  <div class="tab-content">
                      <div class="basic-info" style=" padding-bottom:  24px !important;   border-bottom: 1px solid var(--Colors-Primary-100, #E7EEF8);">
                        <img src="community/defaultImg.png" style="height: 299px; width: 100%;"/>
                        <div class="info-container"  >
                            <div class="status-badges">
                               
                                <div class="type">Course</div>
                                <div class="status"><i class=" pi pi-check-circle" style="color:#1151B4"></i>Published</div>
                            </div>
                            <div class="title">Learn German: Beginner Level</div>
                            <div class="dis">Discover the fundamentals of the German language and learn how to express yourself confidently in everyday situations! This course is designed to introduce German in a simple and engaging way, focusing on essential skills such as reading, writing, speaking, and listening.</div>
                            <div class="details">
                              <div><img class="mr-2" src="seats.svg"/>5 Seat leave</div>
                              <div><img class="mr-2" src="startDate.svg"/>12 Feb , 2025</div>
                              <div><img class="mr-2" src="endDate.svg"/>20 Feb , 2025</div>
                              <div><img class="mr-2" src="booking.svg"/>30 booking / 35</div>
                            </div>
                          </div>
                          
                      </div>
                      <div class="sessions mt-4">
                        <div class="title" style=" padding-bottom: 10px !important;   border-bottom: 1px solid var(--Colors-Primary-100, #E7EEF8);">Session 1 -Beginner- Learning the alphabet and correct pronunciation.</div>
                        <div class="w-full">
                          <div class="details w-75 mb-3">
                            <div><img class="mr-2" src="dateSession.svg"/>20 Feb , 2025</div>
                            <div><i class="pi pi-clock mr-2" style="color:#1151B4"></i>30 booking / 35</div>
                          </div>
                          <div class="details w-75">
                            <div><img class="mr-2" src="videoSession.svg"/>https://example.com</div>
                     
                          </div>
                        </div>
                      </div>
                      <div class="sessions mt-4">
                            <div class="w-full" style=" padding-bottom: 10px !important;   border-bottom: 1px solid var(--Colors-Primary-100, #E7EEF8);"><img src="check.svg" class="mr-2"/>Sunday</div>
                            <div class="details w-75 mb-3">
                              <div><img class="mr-2" src="dateSession.svg"/>20 Feb , 2025</div>
                              <div><i class="pi pi-clock mr-2" style="color:#1151B4"></i>30 booking / 35</div>
                              <div><img class="mr-2" src="videoSession.svg"/>https://example.com</div>
                            </div>
                      </div>


                  </div>
                </div>
              </div>
              
              
             
        </p-card>
      </div>
    </div>
  </div>
  