<div class="parent">
    <div class="fixDiv"></div>
    <div class="page">
      <p-breadcrumb class="max-w-full" [model]="items">
        <ng-template pTemplate="item" let-item>
          <a
            [routerLink]="item.routerLink"
            class="p-menuitem-link"
            routerLinkActive="text-primary font-semibold"
          >
            <span *ngIf="item.icon" [ngClass]="item.icon" class="mr-2"></span>
            <span>{{ item.label }}</span>
          </a>
        </ng-template>
      </p-breadcrumb>
  
      <p-toast></p-toast>
      <div class="content">
        <p-card>




            <div class="container">
                <div class="custom-tabview">
                  <div class="tab-menu">
                    <button
                      class="tab-button"
                      [class.active]="activeTab === 'basic-info'"
                      (click)="activeTab = 'basic-info'"
                    >
                      Basic Information
                    </button>
                    <button
                    *ngIf="activityType !== 'Event' && activityType !== 'Consult'"
                      class="tab-button"
                      [class.active]="activeTab === 'sessions'"
                      
                      (click)="scrollToSection('sessions')"
                    >
                      Sessions
                    </button>
                    <button
                      class="tab-button"
                      [class.active]="activeTab === 'reviews'"
                      (click)="scrollToSection('reviews')"
                    >
                      Reviews
                    </button>
                  </div>
                  <div class="tab-content">
                      <div class="basic-info" style=" padding-bottom:  24px !important;   border-bottom: 1px solid var(--Colors-Primary-100, #E7EEF8);">
                        <img [src]="images || 'community/defaultImg.png'" style="height: 299px; width: 100%;"/>
                        <div class="info-container"  >
                            <div class="status-badges">
                               
                                <!-- <div class="type">{{ activityType }}</div> -->
                                <div [ngClass]="getActivityClass(activityType)" class="type">
                                  {{ activityType }}
                                </div>
                                
                                <div *ngIf="published  " class="status"><i class=" pi pi-check-circle" style="color:#1151B4"></i>Published</div>
                                <div *ngIf="!published" style="width:auto" class="type-danger"><i class=" pi pi-times-circle" style="color:#C1111A"></i>Not Published</div>
                                <div *ngIf="published==='Cancelled'" style="width:auto" class="type-danger"><i class=" pi pi-times-circle" style="color:#C1111A"></i>Cancelled</div>
                                <div *ngIf="published==='Postponed'" style="width:auto" class="type-wait"><i class=" pi pi-pause-circle" style="color:#BE8B11"></i>Postponed</div>



                            </div>
                            <div class="title">{{ title }}</div>
                            <div class="dis">{{ discription }}</div>
                            <div class="details">
                              <div *ngIf="activityType !== 'Consult'"><img class="mr-2" src="seats.svg"/>{{ seatsAvailable }} Seat leave</div>
                              <div *ngIf="activityType !== 'Event' && activityType !== 'Consult'" ><img class="mr-2" src="startDate.svg"/>{{ startDate | date: 'mediumDate' }}</div>
                              <div *ngIf="activityType !== 'Event' && activityType !== 'Consult'"><img class="mr-2" src="endDate.svg"/>{{ endDate | date: 'mediumDate' }}</div>
                              <div *ngIf="eventDate"><img src="dateSession.svg" /> {{ eventDate | date: 'mediumDate' }}</div>
                              <div *ngIf="startTime">
                                <i class="pi pi-clock mr-2" style="color:#1151B4"></i> {{ startTime   }}
                              </div>
                              <div *ngIf="endTime">
                                <!-- <i class="pi pi-clock"></i> {{ endTime | date: 'hh:mm a' }} -->
                                <i class="pi pi-clock mr-2" style="color:#1151B4"></i> {{ endTime   }}

                              </div>
                              
                              <div *ngIf="location">
                                <!-- <i class="pi pi-clock"></i> {{ endTime | date: 'hh:mm a' }} -->
                                <i class="pi pi-map-marker mr-2" style="color:#1151B4"></i> 
                                <a [href]="location" target="_blank" rel="noopener noreferrer" class="cursor:pointer; text-decoration:none;">
                                  {{ location | slice:0:30 }}
                                </a>

                              </div>
                              <div><img class="mr-2" src="booking.svg"/> {{ booking !== null && booking !== undefined ? booking : '30 booking / 35' }}</div>
                              
                              <div *ngIf="videoLink"><img class="mr-2" src="videoSession.svg"/>{{videoLink}}</div>
                            </div>
                          </div>
                          
                      </div>


                      <div id="sessions" *ngIf="activityType === 'Course' || activityType === 'Workshop'">
                        <div class="sessions mt-4"   *ngFor="let session of sessions">
                          <div class="flex justify-content-between align-items-center w-full pb-2" style="   border-bottom: 1px solid var(--Colors-Primary-100, #E7EEF8);">
                            <div class="title" style=" padding-bottom: 10px !important; ">{{ session.session_Title }}</div>
                            <div *ngIf="session.has_Published" class="status"><i class=" pi pi-check-circle" style="color:#1151B4"></i>Published</div>
                            <div *ngIf="!session.has_Published" style="width:auto" class="type-danger"><i class=" pi pi-times-circle" style="color:#C1111A"></i>Not Published</div>
                          </div>
                          <div class="w-full">
                            <div class="details w-75 mb-3">
                              <div><img class="mr-2" src="dateSession.svg"/>{{ session.session_Date | date: 'mediumDate' }}</div>
                              <div><i class="pi pi-clock mr-2" style="color:#1151B4"></i> {{ session.start_Time }} - {{ session.end_Time }}</div>
                              <!-- <div><i class="pi pi-clock mr-2" style="color:#1151B4"></i>30 booking / 35</div> -->
                            </div>
                            <div class="details w-75">
                              <div *ngIf="session.session_Link" ><img class="mr-2" src="videoSession.svg"/>{{session.session_Link}}</div><!--*ngIf="session.session_Link"-->
                       
                            </div>
                          </div>
                        </div>
                      </div>
                      

                    <div id="sessions" *ngIf="activityType === 'Consult'">
                      <div class="sessions mt-4" *ngFor="let day of sessionsDays">
                        <!-- <div class="w-full" style=" padding-bottom: 10px !important;   border-bottom: 1px solid var(--Colors-Primary-100, #E7EEF8);"><img src="check.svg" class="mr-2"/>{{ day.session_Day }}</div> -->
                        <div class="flex justify-content-between align-items-center  w-full pb-2 " style="border-bottom: 1px solid var(--Colors-Primary-100, #E7EEF8);">
                          <div class="w-full" style=" padding-bottom: 10px !important;  "><img src="check.svg" class="mr-2"/>{{ day.session_Day }}</div>

                          <div *ngIf="day.has_Published" class="status"><i class=" pi pi-check-circle" style="color:#1151B4"></i>Published</div>
                          <div *ngIf="!day.has_Published" style="width:auto" class="type-danger"><i class=" pi pi-times-circle" style="color:#C1111A"></i>Not Published</div>
                         </div>
                        <div class="details w-75 mb-3 w-full">
                         

                          <div><i class="pi pi-clock mr-2" style="color:#1151B4"></i> {{ day.session_Start_Time }} - {{ day.session_End_Time }}</div>

                          <div><i class="pi pi-clock mr-2" style="color:#1151B4"></i>30 booking / 35</div>

                          <div><img class="mr-2" src="seats.svg"/>{{ day.session_Available_Seats }} Seat leave</div>

                          <!-- <div><img class="mr-2" src="videoSession.svg"/>https://example.com</div> -->
                        </div>
                      </div>
                    </div>
                      

                    <div id="reviews"  >
                        <div class="sessions mt-4"  *ngFor="let rate of reviews">
                           <div class="flex justify-content-between align-items-center w-full">
                                      <div class="flex justify-content-start align-items-center">
                                        <img [src]="rate.photo" style="width: 50px; height: 50px; margin-right: 5px;"/>
                                        <div>
                                          <div class="name">{{rate.name}}</div>
                                          <div class="date-review">{{rate.date}}</div>
                                        </div>
                                      </div>


                                      <div  class="flex justify-content-start align-items-center">
                                        <img src="rate.svg" class="mr-1"/>{{rate.rating}}
                                      </div>

                           </div>
                          <div class="dis-review">
                           {{rate.comment}}
                          </div>
                          <div class="flex justify-content-end align-items-center gap-4 mx-4 " style="margin-top: 35px;">
                            <div class=" " *ngIf="rate.has_Published">
                              <p-button
                              label="Hide From App"
                              (click)="displayHome(rate.id,false)" 
                              class="p-button-outlined custom-button"
                              
                            ></p-button>
                           </div>
                
                           <div class=" " *ngIf="!rate.has_Published">

                            <p-button
                            label="Display On App"
                            (click)="displayHome(rate.id,true)" 
                            class="p-button-outlined custom-button-add"
                            
                          ></p-button>
                         </div>
                          </div>
                        </div>
                    </div>

                  </div>
                </div>
              </div>
              
              
             
        </p-card>
      </div>
    </div>
  </div>
  