.head{
  color: var(--Colors-Base-Main-Text, #0A0C0F);

  /* Global Tokens/Headings/H-8/Medium */
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 166.667% */
}

.table-right{
  display: flex;
width: 346px;
padding: 8px;
flex-direction: column;
align-items: flex-start;
/* justify-content: flex-end; */
gap: 8px;
border-radius: 8px;
border: 1px solid var(--Colors-Primary-100, #E7EEF8);
 
}
  
  .parent{
      display:flex;
      width: 100%;
      padding-top: 100px;
      background: #F5F9FF;
    
    }
    
    .fixDiv{
      width:250px;
      background: #F5F9FF;
    }
    
    
    .page{
      padding: 30px;
      width: 80%;
      background: #F5F9FF;
      
    }
    
 :host ::ng-deep .p-breadcrumb {
  border: none;
  margin-left: 0px !important;
  padding: 0 0 !important;
  padding-top: 10px;
  margin-bottom: 20px;
  background: #F5F9FF !important;
  cursor: pointer;
}

:host ::ng-deep .p-breadcrumb ol {
  /* margin-left: 45 !important; */
  padding-left: 15px;
}

:host ::ng-deep .p-breadcrumb ol a {
  text-decoration: none;
}

:host ::ng-deep .p-breadcrumb .p-menuitem-link {
  color: #586880 !important;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

:host ::ng-deep .p-breadcrumb .bread-active {
  color: var(--Colors-Base-Main-Text, #0A0C0F) !important;
  font-family: Poppins !important;
  font-size: 18px;
  font-style: normal !important;
  font-weight: 500 !important;
  line-height: 32px;
}

.bread-active {
  color: var(--Colors-Base-Main-Text, #0A0C0F) !important;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
}
    
    :host ::ng-deep .p-tabview .p-tabview-nav {
      background: #F5F9FF !important;
  }
  :host ::ng-deep .p-tabview .p-tabview-panels {
      background: #F5F9FF !important;
  }
     :host ::ng-deep .p-tabview-nav a{
      text-decoration: none;
      color: var(--Neutral-Neutral40, #605D62) !important;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400 !important;
    line-height: 24px; /* 133.333% */
    text-transform: capitalize;
    background: #F5F9FF;
     }
     /* :host ::ng-deep .p-tabview-nav a:hover{
      text-decoration: none;
      color: var(--Primary-40, #1F4068);
    font-feature-settings: 'liga' off, 'clig' off;
    
    font-size: 18px;
    font-style: normal;
    font-weight: 600 !important;
    line-height: 24px;
     } */
     :host ::ng-deep .p-tabview-nav a:active{
      text-decoration: none;
      color: var(--Primary-40, #1F4068);
    font-feature-settings: 'liga' off, 'clig' off;
    /* font-family: Poppins; */
    font-size: 18px;
    font-style: normal;
    font-weight: 600 !important;
    line-height: 24px; /* 133.333% */
     }
    
      :host ::ng-deep .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
      background: #ffffff;
      border-color:  var(--Primary-40, #1151B4);
      color: #1151B4 !important;
      font-weight: 600 !important;
      background: #F5F9FF;
    }
    :host ::ng-deep .p-card .p-card-body {
      padding: 0 0 !important;
    }
    
    :host ::ng-deep .p-card {
      border-radius: 8px;
      border: 1px solid var(--Neutral-Neutral90, #EBEBEB);
      background: var(--Key-colors-White, #FFF);
    
      /* Shadow/sm */
      box-shadow: 0px 1px 3px 0px rgba(16, 24, 40, 0.10), 0px 1px 2px 0px rgba(16, 24, 40, 0.06);
    }
    
    :host ::ng-deep .p-badge {
      /* background: #2196F3; */
      color: #ffffff;
      font-size: 0.75rem;
      font-weight: 700;
      min-width: 1.5rem;
      height: 1.5rem;
      line-height: 1.5rem;
    
      border-radius: var(--corner-radius-16, 16px);
    background: var(--Primary-Shades-primary99, #FAFCFF);
    mix-blend-mode: multiply;
    
    color: var(--Primary-40, #1F4068);
    
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    
    }
    
    
    
    
    @media (max-width:992px) {
      .fixDiv{
        display: none;
      }
      .page{
        padding:24px;
        width:100%;
      }
    }
    
    :host ::ng-deep .p-menu{
      left: 78% !important;
      /* position: absolute;
      top: 100% !important;
      right: 0 !important; */
    }
    
    :host ::ng-deep .p-menu .p-menuitem-content a{
      text-decoration: none !important;
    }
    
    :host ::ng-deep .p-menu-overlay .p-menuitem-content a{
      text-decoration: none !important;
    }
    
    :host ::ng-deep  .p-button {
      color: #787579 !important;
      /* background: #fff !important; */
      background: transparent !important;
    
      border:  none !important;
      padding: 0.5rem 1rem;
      font-size: 1rem;
      transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
      border-radius: 3px;
      outline-color: transparent;
      position: relative;
    }
    
    :host ::ng-deep .p-menu-overlay {
      top: 0 !important; /* Adjust to set the desired top position */
      left: 0 !important; /* Adjust to align it directly beside the button */
      transform: translate(-50%, -50%); /* Optional: center the menu relative to the button */
    }
    
    ::ng-deep .p-menu .p-menuitem-link {
    
      text-decoration: none !important;
    }
    ::ng-deep .p-menu ul {
    
     padding-left: 0 !important;
    }
    
    .tabview-header-container {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }
  
  .custom-button-add ::ng-deep .p-button  {
  
    display: flex;
    /* width: 190px;
    height: 40px;
    padding: 8px; */
    padding: 8px 60px;
  
  justify-content: center;
  align-items: center;
  gap: 8px;
   
    border:1px solid #1151B4 !important;
  
    color: #ffffff !important;
    background-color: #1151B4 !important;
    align-self: self-start;
    border-radius: 8px;
     
  }
  
  .custom-button ::ng-deep .p-button {
  
    display: flex;
    /* width: 190px;
    height: 40px;
    padding: 8px; */
    padding: 8px 60px;
  
  justify-content: center;
  align-items: center;
  gap: 8px;
  
  
    color: #1151B4 !important;
    
    border:1px solid #1151B4 !important;
  
    background-color: #fff !important;
    border-radius: 8px;
  }
  
  .custom-button ::ng-deep .p-button .pi {
    margin-right: 8px;
  }
  
  
  @media (max-width:768px) {
    .custom-button ::ng-deep .p-button {
  
      padding: 8px 40px;
    }
    .custom-button-add ::ng-deep .p-button {
  
      padding: 8px 40px;
    }
  }
  .responsive-dialog .p-dialog {
    width: 40vw !important;
  }
  
  @media (max-width: 768px) {
    .responsive-dialog .p-dialog {
      width: 100vw !important;
    }
  }
  
  .p-dialog .p-dialog-content {
    overflow: visible !important; /* السماح بظهور المحتوى الداخلي */
  }
  /**************************************filter success**********************************/
  /* Dialog container */
  .reminder-body {
    text-align: center;
    font-family: Arial, sans-serif;
    /* padding: 20px; */
  }
  
  /* Success icon */
  .success-icon {
    font-size: 48px;
    color: #27ae60;
    margin-bottom: 15px;
  }
  
  /* Paragraph text */
  .reminder-body p {
    color: #000;
    text-align: center;
    
    /* Global Tokens/Body/B-1/Medium */
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
  }
  
  /* Highlighted text */
  .highlight {
    color: var(--Colors-Primary-700, #1151B4);
  
    /* Global Tokens/Body/B-1/Medium */
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }
  /*8888888888888*****************************************************************/
 
    .data{
        color: var(--Colors-Base-Main-Text, #0A0C0F);
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 36px; /* 225% */
    }

    .label{
      color: var(--Neutrals-Neutrals700, #727272);
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 36px; /* 225% */
    }
  /************************************************************************************/
  /* .fcol{
      display: flex;
      flex-direction: column;
      gap:24px
  } */
  
  @media (max-width:950px) {
      /* .fcol{
          gap:2px;
      } */

      .tabview-header-container {
        flex-direction: column;
        margin-bottom: 10px;
      }
  }


.tit{
    color: #000;

/* Global Tokens/Headings/H-6/Medium */
font-family: Poppins;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 36px; /* 150% */
}

/* ------------------------------------------------------------------------------------------ */

.card {
  border-radius: 16px;
  border: none;
  border-top: solid 3px #1151B4;
  font-family: Poppins;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 24px;
}

.icon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  color: #1151B4;
}

.gaps {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.title {
  color: #000;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.title img {
  width: 140px;
  height: 60px;
}

.header {
  color: var(--Colors-Base-Main-Text, #0A0C0F);
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.plan-type-header {
  color: var(--Colors-Base-Main-Text, #0A0C0F);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.titles {
  color: var(--Neutrals-Neutrals700, #727272);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 10px;
}

.content {
  color: var(--Colors-Base-Main-Text, #0A0C0F);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.plan-content {
  color: var(--Colors-Base-Main-Text, #0A0C0F);
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.bill-from-content {
  color: var(--Colors-Primary-Shade-Shade-7, #475467);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.bill-from-name {
  color: var(--Colors-Base-Main-Text, #0A0C0F);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.rent-txt {
  color: #727272;
  font-size: 16px;
}

.border-bottom {
  border-bottom: 1px solid var(--Colors-Primary-Stroke-Color, #EEF0F1);
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.container-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "one two three"
    "four five six";
  row-gap: 8px;
  column-gap: 0px;
  position: relative;
}

.pos-relative {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "one two"
    "three four";
  gap: 32px;
  position: relative;
}

.pos-relative::after {
  content: '';
  background-color: #EEF0F1;
  width: 100%;
  height: 1px;
  position: absolute;
  top: 42px;
  /* border: solid 1px #EEF0F1; */
}

.pos-relative>div,
.container-grid>div {
  display: contents;
}

.one {
  grid-area: one;
}

.two {
  grid-area: two;
}

.three {
  grid-area: three;
}

.four {
  grid-area: four;
}

.five {
  grid-area: five;
}

.six {
  grid-area: six;
}

.justify-end {
  display: flex;
  justify-content: end;
}

@media (max-width:1025px) {
  .page {
    padding-left: 30px;
    margin-right: 16px;
    width: 100%;
    background: #F5F9FF;
  }

}

@media (max-width: 992px) {
  .fixDiv {
    width: 25px;
  }

  .page {
    padding: 0;
    margin-right: 0;
  }

  .card-line::after {
    display: none;
  }

  .bill-title::before {
    display: none;
  }

  .border-right {
    border: none;
  }

  .gap {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}

@media(max-width:768px) {
  .fixDiv {
    width: 16px;
  }

  .page {
    padding-left: 16px;
    padding-right: 16px;
  }

  .pos-relative {
    grid-template-columns: 1fr;
    grid-template-areas:
      "one"
      "three"
      "two"
      "four";
  }

  .container-grid {
    grid-template-columns: 1fr;
    grid-template-areas:
      "one"
      "four"
      "two"
      "five";
  }

}

@media screen and (max-width: 576px) and (min-width: 200px) {
  .fixDiv {
    width: 10px;
  }

  .download-button button {
    width: 100% !important;
  }

  .tabview-header-container {
    width: 100%;
  }

  .title img {
    width: 100px;
  }

  .bill-title::before {
    display: none;
  }

  .border-right {
    border: none;
  }

  .gap {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .card {
    padding: 16px;
  }

  .justify-end {
    display: flex;
    justify-content: start;
  }
}