 <!-- <div class="row">
  <div class="col-lg-2 col-md-0 col-sm-0 "></div>
  <div class="col-lg-10 col-md-12 col-sm-12">
    helloooooooooo
  </div>

 </div> -->
 <div class="parent">
  <div class="fixDiv"></div>
  <div class="page">

    <div style="
    display: flex;
    justify-content: end;
    margin-bottom: 20px;">

      <div (click)="onNewIssue()"  class="px-3 py-2 rounded border text-white text-decoration-none"   style="background-color:#1F4068; cursor: pointer;">
        <img src="plus.svg" class="me-2 ">Add New
    </div>
    </div>


<!---------------------------------------add table herre------------------------------------->
<p-card class="table" >

  <p-tabView styleClass="tabview-custom">
    <p-tabPanel>
        <ng-template pTemplate="header">
            <div class="flex align-items-center gap-2">

                <span class=" white-space-nowrap m-0">
                  Unassigned issues
                </span>
                <p-badge [value]="issuesNotAssigned.length" />

            </div>
        </ng-template>
             <p-table
                    #dt2
                    [value]="issuesNotAssigned"
                    dataKey="id"
                    [rows]="10"
                    [rowsPerPageOptions]="[10, 25, 50]"
                    [loading]="loading"
                    [paginator]="true"
                    [globalFilterFields]="['code', 'requestedByName', 'apartmentCode','issuesNames','reportedAt','assignedTo', 'status']"
                    [tableStyle]="{ 'min-width': '120rem'  }"
                    selectionMode="single"
                    [(selection)]="selectedIssue"
                    (onRowSelect)="onRowSelect($event)"
                >
                    <ng-template pTemplate="caption">
                        <div class="flex">
                            <p-iconField iconPosition="left" class="ml-auto">
                                <p-inputIcon>
                                    <i class="pi pi-search"></i>
                                </p-inputIcon>
                                <input
                                    pInputText
                                    type="text"
                                    (input)="onFilter($event)"
                                    placeholder="Search keyword" />
                            </p-iconField>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr class="headInfo">
                            <th style="width:22%">Issue Code</th>
                            <th style="width:22%">Requested by</th>
                            <th style="width:22%">Apartment Number</th>
                            <th style="width:22%">Issues</th>
                            <th style="width:22%">Date Reported</th>
                            <th style="width:22%">Assigned To</th>
                            <th style="width:22%">Status</th>




                            <!-- <th style="width:22%">Name</th>
                            <th style="width:22%">Country</th>
                            <th style="width:22%">Agent</th>
                            <th style="width:22%">Status</th>
                            <th style="width:12%">Verified</th> -->
                        </tr>
                        <tr>
                                <th>
                                  <p-columnFilter
                                      type="text"
                                      field="code"
                                      placeholder="Search by Code"
                                      ariaLabel="Filter No" />
                              </th>
                              <th>
                                <p-columnFilter
                                    type="text"
                                    field=" requestedByName"
                                    placeholder="Search by Name"
                                    ariaLabel="Filter Name" />
                            </th>
                               <!-- <th>
                                <p-columnFilter field="requestedByName" matchMode="in" [showMenu]="false">
                                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                        <p-multiSelect
                                            [ngModel]="value"
                                            [options]="representatives"
                                            placeholder="Any"
                                            (onChange)="filter($event.value)"
                                            optionLabel="name">
                                                <ng-template let-option pTemplate="item">
                                                    <div class="inline-block vertical-align-middle">
                                                        <img
                                                            [alt]="option.label"
                                                            src="https://primefaces.org/cdn/primeng/images/demo/avatar/{{ option.image }}"
                                                            width="24"
                                                            class="vertical-align-middle" />
                                                        <span class="ml-1 mt-1">{{ option.name }}</span>
                                                    </div>
                                                </ng-template>
                                        </p-multiSelect>
                                    </ng-template>
                                </p-columnFilter>
                            </th> -->

                            <th>
                                <p-columnFilter
                                    type="text"
                                    field="apartmentCode"
                                    placeholder="Search by Apartment No"
                                    ariaLabel="Filter Number" />
                            </th>
                            <th>
                                <p-columnFilter
                                    type="text"
                                    field="issuesNames"
                                    placeholder="Search by isssue"
                                    ariaLabel="Filter name" />
                            </th>
                            <th>
                              <p-columnFilter
                                  type="text"
                                  field="reportedAt"
                                  placeholder="Search by date"
                                  ariaLabel="Filter date" />
                              </th>

                              <th>
                                <p-columnFilter
                                    type="text"
                                    field="assignedTo"
                                    placeholder="Search by name"
                                    ariaLabel="Filter Name" />
                                </th>


                            <th>
                                <p-columnFilter field="status" matchMode="equals" [showMenu]="false">
                                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                        <p-dropdown
                                            [ngModel]="value"
                                            [options]="statuses"
                                            (onChange)="filter($event.value)"
                                            placeholder="Select One"
                                            [showClear]="true">
                                                <ng-template let-option pTemplate="item">
                                                    <p-tag
                                                        [value]="option.value"
                                                        [ngClass]="getSeverity(option.label)" /> <!--[severity]="getSeverity(option.label)" -->
                                                </ng-template>
                                        </p-dropdown>
                                    </ng-template>
                                </p-columnFilter>
                            </th>
                            <!-- <th>
                                <p-columnFilter type="boolean" field="verified"></p-columnFilter>
                            </th> -->
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-issue>
                        <tr  style="cursor: pointer;">
                          <td (click)="onRowSelect({ data: issue })">
                            {{ issue.code }}
                           </td>
                          <td class="workerName" (click)="onRowSelect({ data: issue })">
                            <img
                                [alt]="issue.requestedByName"
                                [src]="issue.requestedByPic"
                                width="32"
                                style="vertical-align: middle" />
                            <span class="ml-1 vertical-align-middle">
                                {{ issue.requestedByName }}
                            </span>
                        </td>

                            <td   (click)="onRowSelect({ data: issue })">
                                {{ issue.apartmentCode }}
                            </td>
                            <td (click)="onRowSelect({ data:issue})">
                              {{ issue.issuesNames }}
                            </td>
                            <td (click)="onRowSelect({ data: issue })">
                              {{ issue.reportedAt }}
                           </td>
                              <td (click)="onRowSelect({ data: issue })">
                                {{ issue.assignedTo }}
                            </td>


                            <!-- <td>
                                <img
                                    src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png"
                                    [class]="'flag flag-' + customer.country.code"
                                    style="width: 20px" />
                                <span class="ml-1 vertical-align-middle">
                                    {{ worker.name }}
                                </span>
                            </td> -->

                            <td (click)="onRowSelect({ data: issue })" style="width:10% !important">
                                <p-tag
                                    [value]="issue.status"
                                    [ngClass]="getSeverity(issue.status)" /> <!--[severity]="getSeverity(worker.status)"-->



                            </td>
                            <td>
                              <p-toast />
                              <p-menu #menu [model]="items" appendTo="body" [popup]="true" />
                              <!-- <p-button (onClick)="menu.toggle($event)" icon="pi pi-ellipsis-v"/> -->
                              <p-button  (onClick)="selectIssue(issue.id); menu.toggle($event)" icon="pi pi-ellipsis-v"/>

                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td colspan="5">No issues found.</td>
                        </tr>
                    </ng-template>
          </p-table>
    </p-tabPanel>




    <p-tabPanel header="Header II">
        <ng-template pTemplate="header">
            <div class="flex align-items-center gap-2">

                <span class=" white-space-nowrap m-0">
                  Cleaner
                </span>
                <p-badge [value]="issuesCleaner.length" />

            </div>
        </ng-template>
        <p-table
        #dt2
        [value]="issuesCleaner"
        dataKey="id"
        [rows]="10"
        [rowsPerPageOptions]="[10, 25, 50]"
        [loading]="loading"
        [paginator]="true"
        [globalFilterFields]="['code', 'requestedByName', 'apartmentCode','issuesNames','reportedAt','assignedTo', 'status']"
        [tableStyle]="{ 'min-width': '120rem'  }"
        selectionMode="single"
        [(selection)]="selectedIssue"
        (onRowSelect)="onRowSelect($event)"
    >
        <ng-template pTemplate="caption">
            <div class="flex">
                <p-iconField iconPosition="left" class="ml-auto">
                    <p-inputIcon>
                        <i class="pi pi-search"></i>
                    </p-inputIcon>
                    <input
                        pInputText
                        type="text"
                        (input)="onFilter($event)"
                        placeholder="Search keyword" />
                </p-iconField>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr class="headInfo">
                <th style="width:22%">Issue Code</th>
                <th style="width:22%">Requested by</th>
                <th style="width:22%">Apartment Number</th>
                <th style="width:22%">Issues</th>
                <th style="width:22%">Date Reported</th>
                <th style="width:22%">Assigned To</th>
                <th style="width:22%">Status</th>




                <!-- <th style="width:22%">Name</th>
                <th style="width:22%">Country</th>
                <th style="width:22%">Agent</th>
                <th style="width:22%">Status</th>
                <th style="width:12%">Verified</th> -->
            </tr>
            <tr>
                    <th>
                      <p-columnFilter
                          type="text"
                          field="code"
                          placeholder="Search by Code"
                          ariaLabel="Filter No" />
                  </th>
                  <th>
                    <p-columnFilter
                        type="text"
                        field=" requestedByName"
                        placeholder="Search by Name"
                        ariaLabel="Filter Name" />
                </th>
                   <!-- <th>
                    <p-columnFilter field="requestedByName" matchMode="in" [showMenu]="false">
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <p-multiSelect
                                [ngModel]="value"
                                [options]="representatives"
                                placeholder="Any"
                                (onChange)="filter($event.value)"
                                optionLabel="name">
                                    <ng-template let-option pTemplate="item">
                                        <div class="inline-block vertical-align-middle">
                                            <img
                                                [alt]="option.label"
                                                src="https://primefaces.org/cdn/primeng/images/demo/avatar/{{ option.image }}"
                                                width="24"
                                                class="vertical-align-middle" />
                                            <span class="ml-1 mt-1">{{ option.name }}</span>
                                        </div>
                                    </ng-template>
                            </p-multiSelect>
                        </ng-template>
                    </p-columnFilter>
                </th> -->

                <th>
                    <p-columnFilter
                        type="text"
                        field="apartmentCode"
                        placeholder="Search by Apartment No"
                        ariaLabel="Filter Number" />
                </th>
                <th>
                    <p-columnFilter
                        type="text"
                        field="issuesNames"
                        placeholder="Search by isssue"
                        ariaLabel="Filter name" />
                </th>
                <th>
                  <p-columnFilter
                      type="text"
                      field="reportedAt"
                      placeholder="Search by date"
                      ariaLabel="Filter date" />
                  </th>

                  <th>
                    <p-columnFilter
                        type="text"
                        field="assignedTo"
                        placeholder="Search by name"
                        ariaLabel="Filter Name" />
                    </th>


                <th>
                    <p-columnFilter field="status" matchMode="equals" [showMenu]="false">
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <p-dropdown
                                [ngModel]="value"
                                [options]="statuses"
                                (onChange)="filter($event.value)"
                                placeholder="Select One"
                                [showClear]="true">
                                    <ng-template let-option pTemplate="item">
                                        <p-tag
                                            [value]="option.value"
                                            [ngClass]="getSeverity(option.label)" /> <!--[severity]="getSeverity(option.label)" -->
                                    </ng-template>
                            </p-dropdown>
                        </ng-template>
                    </p-columnFilter>
                </th>
                <!-- <th>
                    <p-columnFilter type="boolean" field="verified"></p-columnFilter>
                </th> -->
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-issue>
            <tr  style="cursor: pointer;">
              <td (click)="onRowSelect({ data: issue })">
                {{ issue.code }}
               </td>
              <td class="workerName" (click)="onRowSelect({ data: issue })">
                <img
                    [alt]="issue.requestedByName"
                    [src]="issue.requestedByPic"
                    width="32"
                    style="vertical-align: middle" />
                <span class="ml-1 vertical-align-middle">
                    {{ issue.requestedByName }}
                </span>
            </td>

                <td   (click)="onRowSelect({ data: issue })">
                    {{ issue.apartmentCode }}
                </td>
                <td (click)="onRowSelect({ data:issue})">
                  {{ issue.issuesNames }}
                </td>
                <td (click)="onRowSelect({ data: issue })">
                  {{ issue.reportedAt }}
               </td>
                  <td (click)="onRowSelect({ data: issue })">
                    {{ issue.assignedTo }}
                </td>


                <!-- <td>
                    <img
                        src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png"
                        [class]="'flag flag-' + customer.country.code"
                        style="width: 20px" />
                    <span class="ml-1 vertical-align-middle">
                        {{ worker.name }}
                    </span>
                </td> -->

                <td (click)="onRowSelect({ data: issue })" style="width:10% !important">
                    <p-tag
                        [value]="issue.status"
                        [ngClass]="getSeverity(issue.status)" /> <!--[severity]="getSeverity(worker.status)"-->



                </td>
                <td>
                  <p-toast />
                  <p-menu #menu [model]="items" appendTo="body" [popup]="true" />
                  <!-- <p-button (onClick)="menu.toggle($event)" icon="pi pi-ellipsis-v"/> -->
                  <p-button  (onClick)="selectIssue(issue.id); menu.toggle($event)" icon="pi pi-ellipsis-v"/>

                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="5">No issues found.</td>
            </tr>
        </ng-template>
</p-table>
    </p-tabPanel>


    <p-tabPanel header="Header II">
      <ng-template pTemplate="header">
          <div class="flex align-items-center gap-2">

              <span class=" white-space-nowrap m-0">
                Worker
              </span>
              <p-badge [value]="issuesWorker.length" />

          </div>
      </ng-template>
      <p-table
      #dt2
      [value]="issuesWorker"
      dataKey="id"
      [rows]="10"
      [rowsPerPageOptions]="[10, 25, 50]"
      [loading]="loading"
      [paginator]="true"
      [globalFilterFields]="['code', 'requestedByName', 'apartmentCode','issuesNames','reportedAt','assignedTo', 'status']"
      [tableStyle]="{ 'min-width': '120rem'  }"
      selectionMode="single"
      [(selection)]="selectedIssue"
      (onRowSelect)="onRowSelect($event)"
  >
      <ng-template pTemplate="caption">
          <div class="flex">
              <p-iconField iconPosition="left" class="ml-auto">
                  <p-inputIcon>
                      <i class="pi pi-search"></i>
                  </p-inputIcon>
                  <input
                      pInputText
                      type="text"
                      (input)="onFilter($event)"
                      placeholder="Search keyword" />
              </p-iconField>
          </div>
      </ng-template>
      <ng-template pTemplate="header">
          <tr class="headInfo">
              <th style="width:22%">Issue Code</th>
              <th style="width:22%">Requested by</th>
              <th style="width:22%">Apartment Number</th>
              <th style="width:22%">Issues</th>
              <th style="width:22%">Date Reported</th>
              <th style="width:22%">Assigned To</th>

              <th style="width:22%">Status</th>




              <!-- <th style="width:22%">Name</th>
              <th style="width:22%">Country</th>
              <th style="width:22%">Agent</th>
              <th style="width:22%">Status</th>
              <th style="width:12%">Verified</th> -->
          </tr>
          <tr>
                  <th>
                    <p-columnFilter
                        type="text"
                        field="code"
                        placeholder="Search by Code"
                        ariaLabel="Filter No" />
                </th>
                <th>
                  <p-columnFilter
                      type="text"
                      field=" requestedByName"
                      placeholder="Search by Name"
                      ariaLabel="Filter Name" />
              </th>
                 <!-- <th>
                  <p-columnFilter field="requestedByName" matchMode="in" [showMenu]="false">
                      <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                          <p-multiSelect
                              [ngModel]="value"
                              [options]="representatives"
                              placeholder="Any"
                              (onChange)="filter($event.value)"
                              optionLabel="name">
                                  <ng-template let-option pTemplate="item">
                                      <div class="inline-block vertical-align-middle">
                                          <img
                                              [alt]="option.label"
                                              src="https://primefaces.org/cdn/primeng/images/demo/avatar/{{ option.image }}"
                                              width="24"
                                              class="vertical-align-middle" />
                                          <span class="ml-1 mt-1">{{ option.name }}</span>
                                      </div>
                                  </ng-template>
                          </p-multiSelect>
                      </ng-template>
                  </p-columnFilter>
              </th> -->

              <th>
                  <p-columnFilter
                      type="text"
                      field="apartmentCode"
                      placeholder="Search by Apartment No"
                      ariaLabel="Filter Number" />
              </th>
              <th>
                  <p-columnFilter
                      type="text"
                      field="issuesNames"
                      placeholder="Search by isssue"
                      ariaLabel="Filter name" />
              </th>
              <th>
                <p-columnFilter
                    type="text"
                    field="reportedAt"
                    placeholder="Search by date"
                    ariaLabel="Filter date" />
                </th>

                <th>
                  <p-columnFilter
                      type="text"
                      field="assignedTo"
                      placeholder="Search by name"
                      ariaLabel="Filter Name" />
                  </th>


              <th>
                  <p-columnFilter field="status" matchMode="equals" [showMenu]="false">
                      <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                          <p-dropdown
                              [ngModel]="value"
                              [options]="statuses"
                              (onChange)="filter($event.value)"
                              placeholder="Select One"
                              [showClear]="true">
                                  <ng-template let-option pTemplate="item">
                                      <p-tag
                                          [value]="option.value"
                                          [ngClass]="getSeverity(option.label)" /> <!--[severity]="getSeverity(option.label)" -->
                                  </ng-template>
                          </p-dropdown>
                      </ng-template>
                  </p-columnFilter>
              </th>
              <!-- <th>
                  <p-columnFilter type="boolean" field="verified"></p-columnFilter>
              </th> -->
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-issue>
          <tr  style="cursor: pointer;">
            <td (click)="onRowSelect({ data: issue })">
              {{ issue.code }}
             </td>
            <td class="workerName" (click)="onRowSelect({ data: issue })">
              <img
                  [alt]="issue.requestedByName"
                  [src]="issue.requestedByPic"
                  width="32"
                  style="vertical-align: middle" />
              <span class="ml-1 vertical-align-middle">
                  {{ issue.requestedByName }}
              </span>
          </td>

              <td   (click)="onRowSelect({ data: issue })">
                  {{ issue.apartmentCode }}
              </td>
              <td (click)="onRowSelect({ data:issue})">
                {{ issue.issuesNames }}
              </td>
              <td (click)="onRowSelect({ data: issue })">
                {{ issue.reportedAt }}
             </td>
                <td (click)="onRowSelect({ data: issue })">
                  {{ issue.assignedTo }}
              </td>


              <!-- <td>
                  <img
                      src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png"
                      [class]="'flag flag-' + customer.country.code"
                      style="width: 20px" />
                  <span class="ml-1 vertical-align-middle">
                      {{ worker.name }}
                  </span>
              </td> -->

              <td (click)="onRowSelect({ data: issue })" style="width:10% !important">
                  <p-tag
                      [value]="issue.status"
                      [ngClass]="getSeverity(issue.status)" /> <!--[severity]="getSeverity(worker.status)"-->



              </td>
              <td>
                <p-toast />
                <p-menu #menu [model]="items" appendTo="body" [popup]="true" />
                <!-- <p-button (onClick)="menu.toggle($event)" icon="pi pi-ellipsis-v"/> -->
                <p-button  (onClick)="selectIssue(issue.id); menu.toggle($event)" icon="pi pi-ellipsis-v"/>

              </td>
          </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
          <tr>
              <td colspan="5">No issues found.</td>
          </tr>
      </ng-template>
</p-table>
  </p-tabPanel>

  <p-tabPanel header="Header II">
    <ng-template pTemplate="header">
        <div class="flex align-items-center gap-2">

            <span class=" white-space-nowrap m-0">
              Cash Collector
            </span>
            <p-badge [value]="issuesCashC.length" />

        </div>
    </ng-template>
    <p-table
    #dt2
    [value]="issuesCashC"
    dataKey="id"
    [rows]="10"
    [rowsPerPageOptions]="[10, 25, 50]"
    [loading]="loading"
    [paginator]="true"
    [globalFilterFields]="['code', 'requestedByName', 'apartmentCode','issuesNames','reportedAt','assignedTo', 'status']"
    [tableStyle]="{ 'min-width': '120rem'  }"
    selectionMode="single"
    [(selection)]="selectedIssue"
    (onRowSelect)="onRowSelect($event)"
>
    <ng-template pTemplate="caption">
        <div class="flex">
            <p-iconField iconPosition="left" class="ml-auto">
                <p-inputIcon>
                    <i class="pi pi-search"></i>
                </p-inputIcon>
                <input
                    pInputText
                    type="text"
                    (input)="onFilter($event)"
                    placeholder="Search keyword" />
            </p-iconField>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr class="headInfo">
            <th style="width:22%">Issue Code</th>
            <th style="width:22%">Requested by</th>
            <th style="width:22%">Apartment Number</th>
            <th style="width:22%">Issues</th>
            <th style="width:22%">Date Reported</th>
            <th style="width:22%">Assigned To</th>

            <th style="width:22%">Status</th>




            <!-- <th style="width:22%">Name</th>
            <th style="width:22%">Country</th>
            <th style="width:22%">Agent</th>
            <th style="width:22%">Status</th>
            <th style="width:12%">Verified</th> -->
        </tr>
        <tr>
                <th>
                  <p-columnFilter
                      type="text"
                      field="code"
                      placeholder="Search by Code"
                      ariaLabel="Filter No" />
              </th>
              <th>
                <p-columnFilter
                    type="text"
                    field=" requestedByName"
                    placeholder="Search by Name"
                    ariaLabel="Filter Name" />
            </th>
               <!-- <th>
                <p-columnFilter field="requestedByName" matchMode="in" [showMenu]="false">
                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                        <p-multiSelect
                            [ngModel]="value"
                            [options]="representatives"
                            placeholder="Any"
                            (onChange)="filter($event.value)"
                            optionLabel="name">
                                <ng-template let-option pTemplate="item">
                                    <div class="inline-block vertical-align-middle">
                                        <img
                                            [alt]="option.label"
                                            src="https://primefaces.org/cdn/primeng/images/demo/avatar/{{ option.image }}"
                                            width="24"
                                            class="vertical-align-middle" />
                                        <span class="ml-1 mt-1">{{ option.name }}</span>
                                    </div>
                                </ng-template>
                        </p-multiSelect>
                    </ng-template>
                </p-columnFilter>
            </th> -->

            <th>
                <p-columnFilter
                    type="text"
                    field="apartmentCode"
                    placeholder="Search by Apartment No"
                    ariaLabel="Filter Number" />
            </th>
            <th>
                <p-columnFilter
                    type="text"
                    field="issuesNames"
                    placeholder="Search by isssue"
                    ariaLabel="Filter name" />
            </th>
            <th>
              <p-columnFilter
                  type="text"
                  field="reportedAt"
                  placeholder="Search by date"
                  ariaLabel="Filter date" />
              </th>

              <th>
                <p-columnFilter
                    type="text"
                    field="assignedTo"
                    placeholder="Search by name"
                    ariaLabel="Filter Name" />
                </th>


            <th>
                <p-columnFilter field="status" matchMode="equals" [showMenu]="false">
                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                        <p-dropdown
                            [ngModel]="value"
                            [options]="statuses"
                            (onChange)="filter($event.value)"
                            placeholder="Select One"
                            [showClear]="true">
                                <ng-template let-option pTemplate="item">
                                    <p-tag
                                        [value]="option.value"
                                        [ngClass]="getSeverity(option.label)" /> <!--[severity]="getSeverity(option.label)" -->
                                </ng-template>
                        </p-dropdown>
                    </ng-template>
                </p-columnFilter>
            </th>
            <!-- <th>
                <p-columnFilter type="boolean" field="verified"></p-columnFilter>
            </th> -->
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-issue>
        <tr  style="cursor: pointer;">
          <td (click)="onRowSelect({ data: issue })">
            {{ issue.code }}
           </td>
          <td class="workerName" (click)="onRowSelect({ data: issue })">
            <img
                [alt]="issue.requestedByName"
                [src]="issue.requestedByPic"
                width="32"
                style="vertical-align: middle" />
            <span class="ml-1 vertical-align-middle">
                {{ issue.requestedByName }}
            </span>
        </td>

            <td   (click)="onRowSelect({ data: issue })">
                {{ issue.apartmentCode }}
            </td>
            <td (click)="onRowSelect({ data:issue})">
              {{ issue.issuesNames }}
            </td>
            <td (click)="onRowSelect({ data: issue })">
              {{ issue.reportedAt }}
           </td>
              <td (click)="onRowSelect({ data: issue })">
                {{ issue.assignedTo }}
            </td>


            <!-- <td>
                <img
                    src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png"
                    [class]="'flag flag-' + customer.country.code"
                    style="width: 20px" />
                <span class="ml-1 vertical-align-middle">
                    {{ worker.name }}
                </span>
            </td> -->

            <td (click)="onRowSelect({ data: issue })" style="width:10% !important">
                <p-tag
                    [value]="issue.status"
                    [ngClass]="getSeverity(issue.status)" /> <!--[severity]="getSeverity(worker.status)"-->



            </td>
            <td>
              <p-toast />
              <p-menu #menu [model]="items" appendTo="body" [popup]="true" />
              <!-- <p-button (onClick)="menu.toggle($event)" icon="pi pi-ellipsis-v"/> -->
              <p-button  (onClick)="selectIssue(issue.id); menu.toggle($event)" icon="pi pi-ellipsis-v"/>

            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="5">No issues found.</td>
        </tr>
    </ng-template>
</p-table>
</p-tabPanel>


<p-tabPanel header="Header II">
  <ng-template pTemplate="header">
      <div class="flex align-items-center gap-2">

          <span class=" white-space-nowrap m-0">
            General Workers
          </span>
          <p-badge [value]="issuesGeneralW.length" />

      </div>
  </ng-template>
  <p-table
  #dt2
  [value]="issuesGeneralW"
  dataKey="id"
  [rows]="10"
  [rowsPerPageOptions]="[10, 25, 50]"
  [loading]="loading"
  [paginator]="true"
  [globalFilterFields]="['code', 'requestedByName', 'apartmentCode','issuesNames','reportedAt','assignedTo', 'status']"
  [tableStyle]="{ 'min-width': '120rem'  }"
  selectionMode="single"
  [(selection)]="selectedIssue"
  (onRowSelect)="onRowSelect($event)"
>
  <ng-template pTemplate="caption">
      <div class="flex">
          <p-iconField iconPosition="left" class="ml-auto">
              <p-inputIcon>
                  <i class="pi pi-search"></i>
              </p-inputIcon>
              <input
                  pInputText
                  type="text"
                  (input)="onFilter($event)"
                  placeholder="Search keyword" />
          </p-iconField>
      </div>
  </ng-template>
  <ng-template pTemplate="header">
      <tr class="headInfo">
          <th style="width:22%">Issue Code</th>
          <th style="width:22%">Requested by</th>
          <th style="width:22%">Apartment Number</th>
          <th style="width:22%">Issues</th>
          <th style="width:22%">Date Reported</th>
          <th style="width:22%">Assigned To</th>
          <th style="width:22%">Status</th>




          <!-- <th style="width:22%">Name</th>
          <th style="width:22%">Country</th>
          <th style="width:22%">Agent</th>
          <th style="width:22%">Status</th>
          <th style="width:12%">Verified</th> -->
      </tr>
      <tr>
              <th>
                <p-columnFilter
                    type="text"
                    field="code"
                    placeholder="Search by Code"
                    ariaLabel="Filter No" />
            </th>
            <th>
              <p-columnFilter
                  type="text"
                  field=" requestedByName"
                  placeholder="Search by Name"
                  ariaLabel="Filter Name" />
          </th>
             <!-- <th>
              <p-columnFilter field="requestedByName" matchMode="in" [showMenu]="false">
                  <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                      <p-multiSelect
                          [ngModel]="value"
                          [options]="representatives"
                          placeholder="Any"
                          (onChange)="filter($event.value)"
                          optionLabel="name">
                              <ng-template let-option pTemplate="item">
                                  <div class="inline-block vertical-align-middle">
                                      <img
                                          [alt]="option.label"
                                          src="https://primefaces.org/cdn/primeng/images/demo/avatar/{{ option.image }}"
                                          width="24"
                                          class="vertical-align-middle" />
                                      <span class="ml-1 mt-1">{{ option.name }}</span>
                                  </div>
                              </ng-template>
                      </p-multiSelect>
                  </ng-template>
              </p-columnFilter>
          </th> -->

          <th>
              <p-columnFilter
                  type="text"
                  field="apartmentCode"
                  placeholder="Search by Apartment No"
                  ariaLabel="Filter Number" />
          </th>
          <th>
              <p-columnFilter
                  type="text"
                  field="issuesNames"
                  placeholder="Search by isssue"
                  ariaLabel="Filter name" />
          </th>
          <th>
            <p-columnFilter
                type="text"
                field="reportedAt"
                placeholder="Search by date"
                ariaLabel="Filter date" />
            </th>

            <th>
              <p-columnFilter
                  type="text"
                  field="assignedTo"
                  placeholder="Search by name"
                  ariaLabel="Filter Name" />
              </th>


          <th>
              <p-columnFilter field="status" matchMode="equals" [showMenu]="false">
                  <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                      <p-dropdown
                          [ngModel]="value"
                          [options]="statuses"
                          (onChange)="filter($event.value)"
                          placeholder="Select One"
                          [showClear]="true">
                              <ng-template let-option pTemplate="item">
                                  <p-tag
                                      [value]="option.value"
                                      [ngClass]="getSeverity(option.label)" /> <!--[severity]="getSeverity(option.label)" -->
                              </ng-template>
                      </p-dropdown>
                  </ng-template>
              </p-columnFilter>
          </th>
          <!-- <th>
              <p-columnFilter type="boolean" field="verified"></p-columnFilter>
          </th> -->
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-issue>
      <tr  style="cursor: pointer;">
        <td (click)="onRowSelect({ data: issue })">
          {{ issue.code }}
         </td>
        <td class="workerName" (click)="onRowSelect({ data: issue })">
          <img
              [alt]="issue.requestedByName"
              [src]="issue.requestedByPic"
              width="32"
              style="vertical-align: middle" />
          <span class="ml-1 vertical-align-middle">
              {{ issue.requestedByName }}
          </span>
      </td>

          <td   (click)="onRowSelect({ data: issue })">
              {{ issue.apartmentCode }}
          </td>
          <td (click)="onRowSelect({ data:issue})">
            {{ issue.issuesNames }}
          </td>
          <td (click)="onRowSelect({ data: issue })">
            {{ issue.reportedAt }}
         </td>
            <td (click)="onRowSelect({ data: issue })">
              {{ issue.assignedTo }}
          </td>


          <!-- <td>
              <img
                  src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png"
                  [class]="'flag flag-' + customer.country.code"
                  style="width: 20px" />
              <span class="ml-1 vertical-align-middle">
                  {{ worker.name }}
              </span>
          </td> -->

          <td (click)="onRowSelect({ data: issue })" style="width:10% !important">
              <p-tag
                  [value]="issue.status"
                  [ngClass]="getSeverity(issue.status)" /> <!--[severity]="getSeverity(worker.status)"-->



          </td>
          <td>
            <p-toast />
            <p-menu #menu [model]="items" appendTo="body" [popup]="true" />
            <!-- <p-button (onClick)="menu.toggle($event)" icon="pi pi-ellipsis-v"/> -->
            <p-button  (onClick)="selectIssue(issue.id); menu.toggle($event)" icon="pi pi-ellipsis-v"/>

          </td>
      </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
      <tr>
          <td colspan="5">No issues found.</td>
      </tr>
  </ng-template>
</p-table>
</p-tabPanel>



</p-tabView>

</p-card>
<!---------------------------------------endd table ------------------------------------->

  </div>

 </div>





 <p-dialog header="Select User Type" [modal]="true" [(visible)]="visibleAssignTable" [style]="{ width: '25rem' }">
  <span class="p-text-secondary block mb-5"> Write your reason.</span>

  <div class="flex justify-content-center gap-2">
     <div class="flex justify-content-center user-type" (click)="onChooseType('staff')"><img src="staffs.svg"/></div>
     <div class="flex justify-content-center user-type" (click)="onChooseType('worker')"><img src="workers.svg"/></div>
  </div>
</p-dialog>


<p-dialog class="DS"  [modal]="true" [(visible)]="publishSuccess" [style]="{ width: '25rem' }">

  <div class="successs">
    <div class="featured-icon">
      <img src="tick_done.svg"/>
    </div>
      <div class="textS">Published successfully!</div>
      <!-- <div class="textS2">rejection reason has been sent successfully.</div> -->


      <p-button (onClick)="publishSuccess = false" class="accept" label="Back to workers requests" />

  </div>
</p-dialog>
