 <!-- <div class="row">
  <div class="col-lg-2 col-md-0 col-sm-0 "></div>
  <div class="col-lg-10 col-md-12 col-sm-12">
    helloooooooooo
  </div>

 </div> -->
 <div class="parent">
    <div class="fixDiv"></div>
    <div class="page">
        <div class="tabview-header-container">
        <p-breadcrumb class="max-w-full" [model]="items">
            <ng-template pTemplate="item" let-item>
                <a [routerLink]="item.routerLink" class="p-menuitem-link" routerLinkActive="text-primary font-semibold">
                    <span *ngIf="item.icon" [ngClass]="item.icon" class="mr-2"></span>
                    <span>{{ item.label }}</span>
                </a>
            </ng-template>
          </p-breadcrumb>

          <!-- <div class=" ">
            <p-button
            label="Add New Member"
            icon="pi pi-plus"
            class="p-button-outlined custom-button-plan"
            [routerLink]="'/add-new-member'"
          ></p-button>
         </div> -->

          </div>
          <p-toast></p-toast>
          <!-- <p-card >
            <div class="basic-info">
                    <div class="fcol">
                        <div class="data">Ahmed Ali</div>
                        <div class=""><span class="status-tag p-tag-success">Active</span></div>
                    </div>
                    <div class="fcol">
                        <div class="data"><span class="label">Email:</span>Ahmed.Ali&#64;Gmail.com</div>
                        <div class="data"><span class="label">Location:</span>Berliner Alle 201, 13088 Berlin</div>
                        <div class="data"><span class="label">Agency Code:</span>AV12589</div>
                    </div>
                    <div class="fcol">
                        <div class="data"><span class="label">Phone</span>+4912845987564</div>
                        <div class="data"><span class="label">Apartment Name:</span>Ahmed.Ali&#64;Gmail.com</div>
                    </div>
            </div>
            <div class="fcol pt-4 pl-4">
                <div class="data">Subscription Details</div>
            
            </div>
            <div class="subs-details">
                 
                <div class="fcol">
                    <div class="data"><span class="label">Plan Type:</span>Annual Plan</div>
                    <div class="data"><span class="label">Start Date</span>Jan 1 ,2025</div>
                </div>
                <div class="fcol">
                    <div><span class="label">Payment By:</span><img src="stripePay.svg"/></div>
                    <div class="data"><span class="label">Expire Date:</span>Jan 1 ,2026</div>
                </div>
            </div> -->
            <p-tabView styleClass="tabview-custom">
          
              <p-tabPanel header="Header III">
                <ng-template pTemplate="header">
                    <div class="flex align-items-center gap-2">
    
                        <span class=" white-space-nowrap m-0">
                          Personal Info
                        </span>
                        <!-- <p-badge [value]="pendingWorkers.length" /> -->
                    </div>
                </ng-template>
  
                <div>
                  <div class="p-card p-3" style="border-radius: 16px; margin-bottom: 16px;" >
                    <div class="flex flex-column w-full ">
 
                       <div class="flex justify-content-between align-items-center w-full  pb-5 border-bottom">
                          <div class="flex justify-content-start align-items-center gap-2 w-full flex-wrap">
                            <img src="community/memberImg.png"/>
                            <div class="flex flex-column">
                              <div class="data">{{memberDetails?.name}}</div>
                              <div class="sub-info"><i class="pi pi-envelope mr-1" style="color:#1151B4"></i> <span class="mr-2">{{memberDetails?.email}}</span><i class="pi pi-phone mr-1" style="color:#1151B4"></i><span>{{memberDetails?.phone_No}}</span></div>
                            </div>
                          </div>
                          <div *ngIf="memberDetails?.status==='Active'" class=""><span class="status-tag p-tag-success">{{memberDetails?.status}}</span></div>
                          <div *ngIf="memberDetails?.status==='Expired'" class=""><span class="status-tag p-tag-danger">{{memberDetails?.status}}</span></div>
                          <div *ngIf="memberDetails?.status==='WaitingPayment'" class=""><span class="status-tag p-tag-warning">{{memberDetails?.status}}</span></div>



                       </div>
                        <div class="flex justify-content-between align-items-center w-full my-4 flex-wrap"  >
                             <div class="flex flex-column border-end" style="width: 30%;">
                                 <div class="label-info"><i class="pi pi-map-marker mr-1" style="color:#1151B4"></i><span>Location</span></div>
                                 <div class="tx-info">{{memberDetails?.location}}</div>
                             </div>
                             <div class="flex flex-column border-end" style="width: 30%;">
                              <div  class="label-info"><i class="pi pi-home mr-1" style="color:#1151B4"></i><span>Apartment Name</span></div>

                                <div class="tx-info">{{memberDetails?.apartment_Name}}</div>
                             </div>
                             <div class="flex flex-column" style="width: 30%;">
                              <div  class="label-info"><i class="fa fa-hashtag mr-1" style="color:#1151B4"></i><span>Agency Code</span></div>
                                 <div class="tx-info">{{memberDetails?.agency_Code}}</div>
                             </div>
                        </div>
                    </div>
                  </div>


                  <div>
                    <p-card class="subscription-card"  [ngClass]="{
                      'subscription-card-year': memberDetails?.plan_Duration === 'Year' ,
                      'subscription-card-6months': memberDetails?.plan_Duration === '6 Months' ,
                      'subscription-card-3months': memberDetails?.plan_Duration === '3 Months' ,
                      'subscription-card-month': memberDetails?.plan_Duration === 'Month'   ,
                      'subscription-card-free': memberDetails?.plan_Duration === 'Month' 
                
                    }">
                      <div class="card-headerr border-bottom pb-4">
                        <span class="plan-name">

 
            <!-- <img *ngIf="plan.plan_Duration === 'Year' &&!plan.is_Trial" src="community/starplan.svg" />
           
            <img  *ngIf="plan.plan_Duration === '3 Months' &&!plan.is_Trial"  src="months.svg" />
            <img  *ngIf="plan.plan_Duration === '6 Months' &&!plan.is_Trial"  src="months.svg" />
            <img  *ngIf="plan.plan_Duration === 'Month' &&!plan.is_Trial"  src="month.svg" />

            <img  *ngIf="plan.is_Trial"  src="freePlan.svg" /> -->

            <img *ngIf="getPlanImage(memberDetails?.plan_Name)" 
     [src]="getPlanImage(memberDetails?.plan_Name)" 
     alt="Plan Icon">

                    
                          <!-- <img src="community/starplan.svg" /> -->
                          {{memberDetails?.plan_Name}}
                        </span>
                        <span><span class="plan-price">€{{memberDetails?.price}}</span> <span class="plan-duration">/ {{memberDetails?.plan_Duration}}</span> </span>
                         
                      </div>
                    
                    
                      <div class="flex justify-content-between align-items-center w-full my-4 flex-wrap"  >
                        <div class="flex flex-column border-end" style="width: 30%;">
                            <div class="label-info"><i class="pi pi-credit-card mr-1" style="color:#1151B4"></i><span>Payment Method</span></div>
                            <div class="tx-info"><img src="stripePay.svg"/></div>
                        </div>
                        <div class="flex flex-column border-end" style="width: 30%;">
                         <div  class="label-info"><i class="pi pi-calendar mr-1" style="color:#1151B4"></i><span>Start Date</span></div>

                           <div class="tx-info">{{memberDetails?.start_Date}}</div>
                        </div>
                        <div class="flex flex-column" style="width: 30%;">
                         <div  class="label-info"><i class="pi pi-calendar mr-1" style="color:#1151B4"></i><span>Renewal Date</span></div>
                            <div class="tx-info">{{memberDetails?.renewel_Date}}</div>
                        </div>
                   </div>
                    </p-card>
                  </div>
                </div>
       
            </p-tabPanel> 
  
                <!----------------------------------------------------------------------------------------------------->
                        <p-tabPanel header="Header III">
                            <ng-template pTemplate="header">
                                <div class="flex align-items-center gap-2">
                
                                    <span class=" white-space-nowrap m-0">
                                      Activities
                                    </span>
                                    <!-- <p-badge [value]="pendingWorkers.length" /> -->
                                </div>
                            </ng-template>
              
                            <div>
                              <div class="p-card p-3" style="border-radius: 16px;" >
                                <div class="flex justify-content-between align-items-center mb-4">
                                  <!-- <h2>Subscription Alerts</h2> -->
                                   <div class="card-header"></div>
                                  <div class="p-inputgroup w-50" style=" position: relative;">
                                 
                                    <!-- <input type="text"  class="search-input" pInputText placeholder="      Search by name, phone number, plans" [(ngModel)]="globalFilter" (input)="dt.filterGlobal(globalFilter, 'contains')" />
                                    <i class="pi pi-search search-icon"></i> -->
 
                                  </div>
                                </div>
                              
                                <p-table
                                  #dt
                                  [value]="activities"
                                  [paginator]="true"
                                  [rows]="5"
                                  [globalFilterFields]="['activity_Name', 'activity_Type', 'date', 'attendance']"
                                  [filterDelay]="300"
                                  [resizableColumns]="true"
                                  [tableStyle]="{ 'min-width': '900px' }"
                                  [showCurrentPageReport]="true"
                                  [currentPageReportTemplate]="'Showing {first} to {last} of {totalRecords} entries'"
                                  (onPage)="pageChange($event)"
                                  [rowsPerPageOptions]="[5, 10, 20]"
                                >
                                  <ng-template pTemplate="header">
                                    <tr>
                                      <th pSortableColumn="name">Title<p-sortIcon field="name"></p-sortIcon></th>
                                      
                                      <th>Type</th>
                                      
                                      <th pSortableColumn="startDate"> Date <p-sortIcon field="startDate"></p-sortIcon></th>
                                      <th>Attendance</th>
                                       
                                    </tr>
                                  </ng-template>
                                  <ng-template pTemplate="body" let-activity>
                                    <tr>
                                      <td>
                                        <!-- <div>
                                          <strong>{{ member.name }}</strong>
                                          <p>{{ member.email }}</p>
                                        </div> -->
                                        {{activity.activity_Name}}
                                      </td>
                                    
                   
                                      <td ><span [ngClass]="getActivityClass(activity.activity_Type)"> {{ activity.activity_Type }}</span> </td>
              
                                      
              
                                      
                                      
                              
                                     
                                      <td>{{ activity.date | date: 'MMM d, yyyy' }}</td>
                                      <!-------------------------------------------------------------------------------------------------------------------->
              
                                      <td>
                                        <span
                                          class="p-tag status-tag"
                                          [ngClass]="{
                                            'p-tag-success': activity.attendance === 'Attended',
                                            'p-tag-danger': activity.attendance === 'Not Attended',
                                            
                                            
                                          }"
                                        >
                                          {{ activity.attendance }}
                                        </span>
                                      </td>
                                      
              
                                    
                                    </tr>
                                  </ng-template>
                                  <!-- <ng-template pTemplate="footer">
                                    <tr>
                                      <td colspan="7">
                                        <div class="p-paginator-custom">
                                          <p-paginator
                                            [rows]="10"
                                            [totalRecords]="40"
                                            [rowsPerPageOptions]="[10, 25, 50]"
                                            [showCurrentPageReport]="true"
                                            currentPageReportTemplate="Show {rows} From {totalRecords}"
                                            
                                          ></p-paginator>
                                        </div>
                                        
                                      </td>
                                    </tr>
                                  </ng-template> -->
                                </p-table>
                              </div>
                              
                            </div>
                   
                        </p-tabPanel> 
                <!----------------------------------------------------------------------------------------------------->
                          <p-tabPanel header="Header III">
                              <ng-template pTemplate="header">
                                  <div class="flex align-items-center gap-2">
              
                                      <span class=" white-space-nowrap m-0">
                                          Invitation History
                                      </span>
                                      <!-- <p-badge [value]="pendingWorkers.length" /> -->
                                  </div>
                              </ng-template>
              
                              <div>
                              <div class="p-card p-3" style="border-radius: 16px;" >
                                  <div class="flex justify-content-between align-items-center mb-4">
                                  <!-- <h2>Subscription Alerts</h2> -->
                                  <div class="card-header"></div>
                                  <div class="p-inputgroup w-50" style=" position: relative;">
                                     
                                      <!-- <input type="text"  class="search-input" pInputText placeholder="      Search by name, phone number, plans" [(ngModel)]="globalFilter" (input)="dt.filterGlobal(globalFilter, 'contains')" />
                                      <i class="pi pi-search search-icon"></i>
 
                                      <img src="filterplan.svg" (click)="openFilterDialog()"   style="margin-left: 24px; cursor: pointer;"/> -->
                                  </div>
                                  </div>
                              
                                  <p-table
                                  #dt
                                  [value]="invitations"
                                  [paginator]="true"
                                  [rows]="5"
                                  [globalFilterFields]="['name', 'email', 'phone', 'invitiation_No','invitation_Date','attendance']"
                                  [filterDelay]="300"
                                  [resizableColumns]="true"
                                  [tableStyle]="{ 'min-width': '900px' }"
                                  [showCurrentPageReport]="true"
                                  [currentPageReportTemplate]="'Showing {first} to {last} of {totalRecords} entries'"
                                  (onPage)="pageChange($event)"
                                  [rowsPerPageOptions]="[5, 10, 20]"
                                  >
                                  <ng-template pTemplate="header">
                                      <tr>
                                      <th pSortableColumn="name"> Name <p-sortIcon field="name"></p-sortIcon></th>
                                      <th>Phone Number</th>
                                      <th pSortableColumn="startDate"> invitaion Date<p-sortIcon field="startDate"></p-sortIcon></th>
                                      <th>invitaion Number</th>
                                  
                                      <th>Attendance</th>
                                      
                                      </tr>
                                  </ng-template>
                                  <ng-template pTemplate="body" let-invite>
                                      <tr>
                                      <td>
                                          <div>
                                          <strong>{{ invite.name }}</strong>
                                          <p>{{ invite.email }}</p>
                                          </div>
                                      </td>
                                      <td>{{ invite.phone }}</td>
                          
                                      
              
                                      
                                      
                              
                                  
                                      <td>{{ invite.invitation_Date | date: 'MMM d, yyyy' }}</td>
                                      <td>{{ invite.invitiation_No }}</td>
              
                                      <!-------------------------------------------------------------------------------------------------------------------->
              
                                      <td>
                                          <span
                                          class="p-tag status-tag"
                                          [ngClass]="{
                                              'p-tag-success': invite.attendance === 'Attended',
                                              'p-tag-danger': invite.attendance === 'Not Attended',
                                               
                                              
                                          }"
                                          >
                                          {{ invite.attendance }}
                                          </span>
                                      </td>
                                      
              
                                      
                                      </tr>
                                  </ng-template>
                                  <!-- <ng-template pTemplate="footer">
                                      <tr>
                                      <td colspan="7">
                                          <div class="p-paginator-custom">
                                          <p-paginator
                                              [rows]="10"
                                              [totalRecords]="40"
                                              [rowsPerPageOptions]="[10, 25, 50]"
                                              [showCurrentPageReport]="true"
                                              currentPageReportTemplate="Show {rows} From {totalRecords}"
                                              
                                          ></p-paginator>
                                          </div>
                                          
                                      </td>
                                      </tr>
                                  </ng-template> -->
                                  </p-table>
                              </div>
                              
                              </div>
              
                          </p-tabPanel>
                <!------------------------------------------------------------------------------------------------------>
                <p-tabPanel header="Header III">
                  <ng-template pTemplate="header">
                      <div class="flex align-items-center gap-2">
      
                          <span class=" white-space-nowrap m-0">
                            Payment History
                          </span>
                          <!-- <p-badge [value]="pendingWorkers.length" /> -->
                      </div>
                  </ng-template>
    
                  <div>
                    <div class="p-card p-3" style="border-radius: 16px;" >
                      <div class="flex justify-content-between align-items-center mb-4">
                        <!-- <h2>Subscription Alerts</h2> -->
                         <div class="card-header">Payment History</div>
                        <div class="p-inputgroup w-50" style=" position: relative;">
                          
                          <!-- <input type="text"  class="search-input" pInputText placeholder="      Search by code,plans ,Dates ans status" [(ngModel)]="globalFilter" (input)="dt.filterGlobal(globalFilter, 'contains')" />
                          <i class="pi pi-search search-icon"></i>
                         
                           <img src="filterplan.svg" (click)="openFilterDialog()"   style="margin-left: 24px; cursor: pointer;"/> -->
                        </div>
                      </div>
                    
                      <p-table
                        #dt
                        [value]="paymentRecords"
                        [paginator]="true"
                        [rows]="10"
                        [globalFilterFields]="['inv_Code', 'amount', 'payment_Date', 'plan_Type','status']"
                        [filterDelay]="300"
                        [resizableColumns]="true"
                        [tableStyle]="{ 'min-width': '900px' }"
                        [showCurrentPageReport]="true"
                        [currentPageReportTemplate]="'Showing {first} to {last} of {totalRecords} entries'"
                        (onPage)="pageChange($event)"
                        [rowsPerPageOptions]="[5, 10, 20]"
                      >
                        <ng-template pTemplate="header">
                          <tr>
                     

                            <th  pSortableColumn="inv_Code">Invoice Code</th>
                        
                            <th pSortableColumn="plan_Type">Plan Type<p-sortIcon field="plan_Type"></p-sortIcon></th>
                            <th pSortableColumn="payment_Date">Payment Date<p-sortIcon field="payment_Date"></p-sortIcon></th>  
                            <th pSortableColumn="amount">Amount<p-sortIcon field="amount"></p-sortIcon></th>
                            <th pSortableColumn="start_Date">Start Date<p-sortIcon field="start_Date"></p-sortIcon></th>

                            <th pSortableColumn="renewal_Date">Renewal Date<p-sortIcon field="renewal_Date"></p-sortIcon></th>

                            <th>Payment By</th>
                            <th>Status</th>
                        
                          </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-payment>
                          <tr>
                            <td>{{payment.inv_Code}}</td>
                           
                            <!-- <td>{{ record.date | date: 'MMM d, yyyy' }}</td> -->
                             
    
                            
                            <td>
                              <!-- <span [ngClass]="getPlanBadgeClass(subscription.planType)" class="p-tag">{{ subscription.planType }}</span> -->
                              <span [ngClass]="getPlanBadgeClass(payment.plan_Type)" class="badge">
                                <i [ngClass]="getPlanIcon(payment.plan_Type)" class="icon"></i>
                                {{ payment.plan_Type }}
                              </span>
                            
                            </td>
                            <td>{{ payment.payment_Date| date: 'MMM d, yyyy' }}</td>
                            
                            <td>{{ payment.amount ? '€' + payment.amount : '-' }}</td>
                            <td>{{payment.payment_Date | date: 'MMM d, yyyy'}}</td>
                            <td>{{ payment.renewal_Date| date: 'MMM d, yyyy' }}</td>
                            <!-- <td>{{ payment.paymentBy }}</td> -------------------------------------------------------------------------------->
                            <td class="text-center">
                              <div class="payment-method">
                                <ng-container [ngSwitch]="payment.payment_By">
                                  <!-- Cash -->
                                  <div *ngSwitchCase="'Cash'" class="payment-icon">
                                    <img src="cashPay.svg" alt="Cash" />
                                    <!-- <span>Cash</span> -->
                                  </div>
                            
                                  <!-- Stripe -->
                                  <div *ngSwitchCase="'Stripe'" class="payment-icon">
                                    <img src="stripePay.svg" alt="Stripe" />
                                    
                                  </div>
                            
                                  <!-- MasterCard -->
                                  <div *ngSwitchCase="'MasterCard'" class="payment-icon">
                                    <img src="cardPay.svg" alt="MasterCard" />
                                    
                                  </div>
                            
                                  <!-- Visa -->
                                  <div *ngSwitchCase="'Visa'" class="payment-icon">
                                    <img src="visaPay.svg" alt="Visa" />
                                    
                                  </div>
                            
                                  <!-- PayPal -->
                                  <div *ngSwitchCase="'PayPal'" class="payment-icon">
                                    <img src="paypal.svg" alt="PayPal" />
                                    
                                  </div>
                            
                                  <!-- Default case -->
                                  <div *ngSwitchDefault class="payment-icon">
                                    <span>{{ payment.payment_By }}</span>
                                  </div>
                                </ng-container>
                              </div>
                            </td>
                            
                            <!-------------------------------------------------------------------------------------------------------------------->
    
                            <td>
                              <span
                                class="p-tag status-tag"
                                [ngClass]="{
                                  'p-tag-success': payment.status === 'Success',
                                  'p-tag-danger': payment.status === 'Failed',
                                  'p-tag-warning': payment.status === 'Pending'
                                  
                                }"
                              >
                                {{ payment.status }}
                              </span>
                            </td>
                            
    
                        
                          </tr>
                        </ng-template>
                        <!-- <ng-template pTemplate="footer">
                          <tr>
                            <td colspan="7">
                              <div class="p-paginator-custom">
                                <p-paginator
                                  [rows]="10"
                                  [totalRecords]="40"
                                  [rowsPerPageOptions]="[10, 25, 50]"
                                  [showCurrentPageReport]="true"
                                  currentPageReportTemplate="Show {rows} From {totalRecords}"
                                  
                                ></p-paginator>
                              </div>
                              
                            </td>
                          </tr>
                        </ng-template> -->
                      </p-table>
                    </div>
                    
                  </div>
         
              </p-tabPanel>
                        
                    </p-tabView>
             <!-- </p-card> -->
  
       

        <!-- The button -->
         <!-- <div class="mt-3">
            <p-button
            label="Add New Plan"
            icon="pi pi-plus"
            class="p-button-outlined custom-button"
          ></p-button>
         </div> -->
     
    <!-- </div> -->
  
    </div>
  
   </div>
  
  
  
  
  
   
  
  
  
  
  
  <!------------------------dialog for filter on Alert------------------->

  <!-- <p-button (onClick)="openFilterDialog()" label="Show" /> -->
  <p-dialog 
  [(visible)]="displayFilterAlert" 
  header="Filter" 
  [closable]="true" 
  [modal]="true" 

  [style]="{  overflow: 'visible' }"
 

  class="responsive-dialog"
  [contentStyle]="{ padding: '1rem', overflow: 'visible' }"
>
  <!-- Plan Type -->
  <div class="mb-3">
    <label for="planType" class="block font-bold mb-2">Plan Type</label>
    <div class="flex flex-wrap gap-3">
      <p-button
        *ngFor="let type of planTypes"
        [label]="type.label"
        [ngClass]="{ 'p-button-outlined custom-button': type.selected, 'p-button-outlined custom-button-add': !type.selected }"
        (click)="togglePlanType(type)"
        [style]="{ width: 'auto',padding:'8px 16px'  }"
        class="rounded-pill"
      ></p-button>
    </div>
  </div>
  

  <!-- Date Range -->
  <div class="mb-3">
    <label for="dateRange" class="block font-bold mb-2">Date (From)</label>
    <p-calendar
      [(ngModel)]="alertfrom"
      [showIcon]="true"
      inputId="dateRange"
      placeholder="Enter date"
      
      class="custom-calendar"
    ></p-calendar>
  </div>
   <!-- Date Range -->
   <div class="mb-3">
    <label for="dateRange" class="block font-bold mb-2">Date (To)</label>
    <p-calendar
      [(ngModel)]="alertTo"
      [showIcon]="true"
      inputId="dateRange"
      placeholder="Enter date"
      
      class="custom-calendar"
    ></p-calendar>
  </div>

  <!-- Buttons -->
  <div class="flex justify-content-between align-items-center " style="margin-top: 35px;">
    <div class=" ">
      <p-button
      label="Cancel"
     
      class="p-button-outlined custom-button"
      
    ></p-button>
   </div>

   <div class=" ">
    <p-button
    label="Apply"
    
    class="p-button-outlined custom-button-add"
     (onClick)="filterAlert()"
  ></p-button>
 </div>
  </div>










</p-dialog>

<!------------------------------------------------------------------------->



<p-dialog
  [(visible)]="displayReminder"
   
  [modal]="true"
  [style]="{ width: '400px' }"
  [closable]="true"
  [dismissableMask]="true"
>
  <div class="reminder-body">
    <img src="successPopup.svg" class="mb-2" />
    <p>
      A notification has been sent to 
      <span class="highlight">Ahmed Ali</span> 
      as a reminder that the plan will 
      <span class="highlight">Expire in 7 days</span>.
    </p>
  </div>
</p-dialog>

<!-- Trigger button -->
<!-- <button pButton type="button" label="Show Reminder" (click)="showReminder()"></button> -->


<!--------------------------------------------------payment dialog filter------------------------------------------------->



<p-dialog 
[(visible)]="displayFilter" 
header="Filter" 
[closable]="true" 
[modal]="true" 

[style]="{  overflow: 'visible' }"


class="responsive-dialog"
[contentStyle]="{ padding: '1rem', overflow: 'visible' }"
>
<!-- Plan Type -->
<div class="mb-3">
  <label for="planType" class="block font-bold mb-2">Plan Type</label>
  <div class="flex flex-wrap gap-3">
    <p-button
      *ngFor="let type of planTypes"
      [label]="type.label"
      [ngClass]="{ 'p-button-outlined custom-button': type.selected, 'p-button-outlined custom-button-add': !type.selected }"
      (click)="togglePlanType(type)"
      [style]="{ width: 'auto',padding:'8px 16px'  }"
      class="rounded-pill"
    ></p-button>
  </div>
</div>


 


<div class="mb-3">
  <label for="planType" class="block font-bold mb-2">Status</label>
  
  <div class="flex justify-content-start gap-2 align-items-center">
    <div *ngFor="let type of status"  >
      <button
        type="button"
        class="status-tag border-0"
        [ngClass]="{
          'selected-success': type.selected && type.value === 'success',
          'p-tag-success': !type.selected && type.value === 'success',
  
          'selected-failed': type.selected && type.value === 'failed',
          'p-tag-danger': !type.selected && type.value === 'failed',
  
          'selected-pending': type.selected && type.value === 'pending',
          'p-tag-warning': !type.selected && type.value === 'pending',
  
          'selected-all': type.selected && type.value === 'all',
          'not-all': !type.selected && type.value === 'all'
  
        }"
        (click)="toggleStatus(type)"
      >
        {{ type.label }}
      </button>
    </div>
  </div>
   
  
  
</div>

<div class="mb-3">
 
  <label for="planType" class="block font-bold mb-2">Payment by</label>

  <p-dropdown 
  [options]="paymentMethods" 
  [(ngModel)]="selectedPayment" 
  placeholder="Select Payment Method" 
  [filter]="true"
  optionLabel="name">
<!-- <ng-template let-payment pTemplate="selectedItem">
  <div class="p-dropdown-item">
    <img [src]="payment.image" alt="{{ payment.name }}" width="20" class="mr-2" />
    <span>{{ payment.name }}</span>
  </div>
</ng-template> -->
<ng-template let-payment pTemplate="item">
  <div class="p-dropdown-item">
    <img [src]="payment.image" alt="{{ payment.name }}" width="70px" height="100%" class="mr-2" />
    <!-- <span>{{ payment.name }}</span> -->
  </div>
</ng-template>
</p-dropdown>


</div>


<!-- Date Range -->
<div class="mb-3">
  <label for="dateRange" class="block font-bold mb-2">Date (From)</label>
  <p-calendar
    [(ngModel)]="payfrom"
    [showIcon]="true"
    inputId="dateRange"
    placeholder="Enter date"
    
    class="custom-calendar"
  ></p-calendar>
</div>
<!-- Date Range -->
<div class="mb-3">
  <label for="dateRange" class="block font-bold mb-2">Date (To)</label>
  <p-calendar
    [(ngModel)]="payTo"
    [showIcon]="true"
    inputId="dateRange"
    placeholder="Enter date"
    
    class="custom-calendar"
  ></p-calendar>
</div>

<!-- Buttons -->
<div class="flex justify-content-between align-items-center " style="margin-top: 35px;">
  <div class=" ">
    <p-button
    label="Cancel"
   
    class="p-button-outlined custom-button"
    
  ></p-button>
 </div>

 <div class=" ">
  <p-button
  label="Apply"
  
  class="p-button-outlined custom-button-add"
   (onClick)="filterPay()"
></p-button>
</div>
</div>










</p-dialog>

<!-------------------------------------------------------------------------------------------------------------->