 <!-- <div class="row">
  <div class="col-lg-2 col-md-0 col-sm-0 "></div>
  <div class="col-lg-10 col-md-12 col-sm-12">
    helloooooooooo
  </div>

 </div> -->
 <div class="parent">
    <div class="fixDiv"></div>
    <div class="page">
        <div class="tabview-header-container">
        <p-breadcrumb class="max-w-full" [model]="items">
            <ng-template pTemplate="item" let-item>
                <a [routerLink]="item.routerLink" class="p-menuitem-link" routerLinkActive="text-primary font-semibold">
                    <span *ngIf="item.icon" [ngClass]="item.icon" class="mr-2"></span>
                    <span>{{ item.label }}</span>
                </a>
            </ng-template>
          </p-breadcrumb>

          <div class=" ">
            <p-button
            label="Add New Activity"
            icon="pi pi-plus"
            class="p-button-outlined custom-button-plan"
            [routerLink]="'/add-new-activity'"
          ></p-button>
         </div>

          </div>
           
          <p-toast></p-toast>
  
        <p-tabView styleClass="tabview-custom" [(activeIndex)]="activeIndex" (activeIndexChange)="onTabChange($event)">
            <p-tabPanel header="Header I">
             
                <ng-template pTemplate="header">
                    <div class="flex align-items-center gap-2">
      
                        <span class=" white-space-nowrap m-0">
                          All
                        </span>                                            
                                                                           
                        <!-- <p-badge [value]="rejectedWorkers.length" /> -->
                    </div>
                </ng-template>
    
    
                <div>
                  <div class="p-card p-3" style="border-radius: 16px;" >
                    <div class="flex justify-content-between align-items-center mb-4">
                      <!-- <h2>Subscription Alerts</h2> -->
                       <div class="card-header"> </div>
                      <div class="p-inputgroup w-50" style=" position: relative;">
                        <!-- <span class="p-inputgroup-addon">
                          <i class="pi pi-search"></i>
                        </span> -->
                        <input type="text"  class="search-input" pInputText placeholder="      Search by name, phone number, plans" [(ngModel)]="globalFilter" (input)="dt.filterGlobal(globalFilter, 'contains')" />
                        <i class="pi pi-search search-icon"></i>
                        <!-- <button pButton icon="pi pi-filter" class="p-button-outlined"></button> -->
                         <img src="filterplan.svg" (click)="openFilterDialog()"   style="margin-left: 24px; cursor: pointer;"/>
                      </div>
                    </div>
                  
                    <p-table
      #dt
      [value]="activities"
      [paginator]="true"
      [rows]="10"
      [globalFilterFields]="['activity_Type', 'activity_Name', 'activity_Seats']"

      [filterDelay]="300"
      [resizableColumns]="true"
      [tableStyle]="{ 'min-width': '900px' }"
      [showCurrentPageReport]="true"
      [currentPageReportTemplate]="'Showing {first} to {last} of {totalRecords} entries'"
      (onPage)="pageChange($event)"
      [rowsPerPageOptions]="[5, 10, 20]"
    >
     
      <ng-template pTemplate="header">
        <tr>
          <!-- <th pSortableColumn="activity_ID">ID <p-sortIcon field="activity_ID"></p-sortIcon></th> -->
          <th  pSortableColumn="activity_Media">Image</th>
          <th pSortableColumn="activity_Type">Type <p-sortIcon field="activity_Type"></p-sortIcon></th>
          <th pSortableColumn="activity_Name">Name <p-sortIcon field="activity_Name"></p-sortIcon></th>
          <!-- <th pSortableColumn="sessions_No">Session Number<p-sortIcon field="sessions_No"></p-sortIcon></th> -->
          
          <!-- <th pSortableColumn="sessions_No">Session Number<p-sortIcon field="sessions_No"></p-sortIcon></th> -->

 
          <th pSortableColumn="activity_Location">Location <p-sortIcon field="activity_Location"></p-sortIcon></th>
          <!-- <th pSortableColumn="activity_Date">Date <p-sortIcon field="activity_Date"></p-sortIcon></th> -->
          <th pSortableColumn="start_Date">Start Date <p-sortIcon field="start_Date"></p-sortIcon></th>

          <th pSortableColumn="end_Date">End Date <p-sortIcon field="end_Date"></p-sortIcon></th>

          <!-- <th pSortableColumn="activity_Rating">Rating <p-sortIcon field="activity_Rating"></p-sortIcon></th>
          <th pSortableColumn="rating_Count">Rating Count <p-sortIcon field="rating_Count"></p-sortIcon></th> -->
      
          <!-- <th pSortableColumn="activity_Time">Time <p-sortIcon field="activity_Time"></p-sortIcon></th> -->
          <th pSortableColumn="activity_Seats">Seats <p-sortIcon field="activity_Seats"></p-sortIcon></th>
          <th pSortableColumn="bookings">Booking <p-sortIcon field="bookings"></p-sortIcon></th>
          <th pSortableColumn="status">status <p-sortIcon field="status"></p-sortIcon></th>

          <!-- <th pSortableColumn="date">Created Date <p-sortIcon field="date"></p-sortIcon></th> -->
          <th>Actions</th>



    
        </tr>
      </ng-template>
    
      <!-- Table Body -->
      <ng-template pTemplate="body" let-activity>
        <tr>
          <!-- <td>{{ activity.activity_ID }}</td> -->
          <td>
            <img [src]="activity.activity_Media" alt="Media" style="width: 50px; height: 50px; object-fit: cover;" />
          </td>
          <!-- <td>{{ activity.activity_Type }}</td> -->
      <td ><span [ngClass]="getActivityClass(activity.activity_Type)"> {{ activity.activity_Type }}</span> </td>

          <td [routerLink]="['/activity-details', activity.activity_ID, activity.activity_Type]">{{ activity.activity_Name }}</td> 
          <!-- <td [routerLink]="['/activity-details', activity.activity_ID, activity.activity_Type]">{{ activity.sessions_No}}</td>  -->

      
          <td [routerLink]="['/activity-details', activity.activity_ID, activity.activity_Type]">{{ activity.activity_Location | slice:0:10 }}...</td>
          <!-- <td [routerLink]="['/activity-details', activity.activity_ID, activity.activity_Type]">{{ activity.activity_Date }}</td> -->
          <td [routerLink]="['/activity-details', activity.activity_ID, activity.activity_Type]">{{ activity.start_Date || '___' }}</td>
          <td [routerLink]="['/activity-details', activity.activity_ID, activity.activity_Type]">{{ activity.end_Date || '___'}}</td>

<!-- 
          <td [routerLink]="['/activity-details', activity.activity_ID, activity.activity_Type]">{{ activity.activity_Rating }}</td>
          <td [routerLink]="['/activity-details', activity.activity_ID, activity.activity_Type]">{{ activity.rating_Count }}</td> -->
         
          <!-- <td [routerLink]="['/activity-details', activity.activity_ID, activity.activity_Type]">{{ activity.activity_Time || 'N/A' }}</td> -->
          <!-- <td [routerLink]="['/activity-details', activity.activity_ID, activity.activity_Type]">{{ activity.date | date: 'MMM d, y' }}</td> -->
          <td [routerLink]="['/activity-details', activity.activity_ID, activity.activity_Type]">{{ activity.activity_Seats }}</td>
          <td [routerLink]="['/activity-details', activity.activity_ID, activity.activity_Type]">{{ activity.bookings|| 'N/A' }}</td>
          <td [routerLink]="['/activity-details', activity.activity_ID, activity.activity_Type]">
            <div *ngIf="activity.status==='Published'" class="status"><i class=" pi pi-check-circle" style="color:#1151B4"></i>{{ activity.status}}</div>
            <div *ngIf="activity.status==='Not Published'" style="width:auto" class="type-danger"><i class=" pi pi-times-circle" style="color:#C1111A"></i>{{ activity.status}}</div>
            <div *ngIf="activity.status==='NotPublished'" style="width:auto" class="type-danger"><i class=" pi pi-times-circle" style="color:#C1111A"></i>{{ activity.status}}</div>

            <div *ngIf="activity.status==='Cancelled'" style="width:auto" class="type-danger"><i class=" pi pi-times-circle" style="color:#C1111A"></i>{{ activity.status}}</div>

            <div *ngIf="activity.status==='Postponed'" style="width:auto" class="type-warning"><i class=" pi pi-pause-circle" style="color:#BE8B11"></i>{{ activity.status}}</div>
            </td>
          
    
          <td>
            <div class="flex justify-content-between align-items-center gab-1">
              <div [routerLink]="['/update-activity', activity.activity_ID, activity.activity_Type]">
                <img
                  class="image-default"
                  src="editActivity.svg"
                  alt="Default Alert Icon"
                  style="cursor: pointer;"
                />
              </div>
              <div>
                <img class="mr-2" style="cursor: pointer;" src="threeDotPay.svg" (click)="op.toggle($event)" />
              </div>
              <p-overlayPanel #op>
                <ul class="menu-list">
                  <li><a (click)="viewParticipants(activity)" style="text-decoration: none;color:#363636;cursor: pointer;"  [routerLink]="['/participants', activity.activity_ID, activity.activity_Type]" >View Participants</a></li>

                  <li><a (click)="displayHome(activity.activity_ID,activity.activity_Type,true)"  style="text-decoration: none;color:#363636; cursor: pointer;" >Display on App Home</a></li>
                  <li><a (click)="displayHome(activity.activity_ID,activity.activity_Type,false)"  style="text-decoration: none;color:#363636; cursor: pointer;" >Not Display on App Home</a></li>

                  <li><a (click)="togglePublish(activity.activity_ID,activity.activity_Type,true)"  style="text-decoration: none;color:#363636; cursor: pointer;" >Publish</a></li>
                  <li><a (click)="togglePublish(activity.activity_ID,activity.activity_Type,false)"  style="text-decoration: none;color:#363636; cursor: pointer;" >Not Publish</a></li>


                  <li><a (click)="viewDetails(activity)" style="text-decoration: none;color:#363636; cursor: pointer;"  [routerLink]="['/activity-details', activity.activity_ID, activity.activity_Type]">View Details</a></li>
                  <li><a (click)="deleteItem(activity)"  style="text-decoration: none;color:#363636; cursor: pointer;" >Delete</a></li>
                </ul>
              </p-overlayPanel>
            </div>
          </td>
    
        </tr>
      </ng-template>
    </p-table>
                  </div>
                  
                </div>
      
            </p-tabPanel>
  
  <!---------------------------------------------------------------------------------------------------------------->
          <p-tabPanel header="Header II">
              <ng-template pTemplate="header">
                  <div class="flex align-items-center gap-2">
  
                      <span class=" white-space-nowrap m-0">
                        Courses
                      </span>
                      <!-- <p-badge [value]="acceptedWorkers.length" /> -->
  
                  </div>
              </ng-template>
 <div>
  <div class="p-card p-3" style="border-radius: 16px;" >
    <div class="flex justify-content-between align-items-center mb-4">
      <!-- <h2>Subscription Alerts</h2> -->
       <div class="card-header"> </div>
      <div class="p-inputgroup w-50" style=" position: relative;">
        <!-- <span class="p-inputgroup-addon">
          <i class="pi pi-search"></i>
        </span> -->
        <input type="text"  class="search-input" pInputText placeholder="      Search by name, phone number, plans" [(ngModel)]="globalFilter" (input)="dt.filterGlobal(globalFilter, 'contains')" />
        <i class="pi pi-search search-icon"></i>
        <!-- <button pButton icon="pi pi-filter" class="p-button-outlined"></button> -->
         <img src="filterplan.svg" (click)="openFilterDialog()"   style="margin-left: 24px; cursor: pointer;"/>
      </div>
    </div>
  
    <p-table
      #dt
      [value]="activities"
      [paginator]="true"
      [rows]="10"
      [globalFilterFields]="['activity_Type', 'activity_Name', 'activity_Seats']"

      [filterDelay]="300"
      [resizableColumns]="true"
      [tableStyle]="{ 'min-width': '900px' }"
      [showCurrentPageReport]="true"
      [currentPageReportTemplate]="'Showing {first} to {last} of {totalRecords} entries'"
      (onPage)="pageChange($event)"
      [rowsPerPageOptions]="[5, 10, 20]"
    >
     
      <ng-template pTemplate="header">
        <tr>
          <!-- <th pSortableColumn="activity_ID">ID <p-sortIcon field="activity_ID"></p-sortIcon></th> -->
          <th  pSortableColumn="activity_Media">Image</th>
          <th pSortableColumn="activity_Type">Type <p-sortIcon field="activity_Type"></p-sortIcon></th>
          <th pSortableColumn="activity_Name">Name <p-sortIcon field="activity_Name"></p-sortIcon></th> 
          <th pSortableColumn="sessions_No">Session Number <p-sortIcon field="sessions_No"></p-sortIcon></th>

 
          <th pSortableColumn="activity_Location">Location <p-sortIcon field="activity_Location"></p-sortIcon></th>
          <!-- <th pSortableColumn="activity_Date">Date <p-sortIcon field="activity_Date"></p-sortIcon></th> -->
          <th pSortableColumn="start_Date">Start Date <p-sortIcon field="start_Date"></p-sortIcon></th>

          <th pSortableColumn="end_Date">End Date <p-sortIcon field="end_Date"></p-sortIcon></th>

          <!-- <th pSortableColumn="activity_Rating">Rating <p-sortIcon field="activity_Rating"></p-sortIcon></th>
          <th pSortableColumn="rating_Count">Rating Count <p-sortIcon field="rating_Count"></p-sortIcon></th> -->
      
          <!-- <th pSortableColumn="activity_Time">Time <p-sortIcon field="activity_Time"></p-sortIcon></th> -->
          <th pSortableColumn="activity_Seats">Seats <p-sortIcon field="activity_Seats"></p-sortIcon></th>
          <th pSortableColumn="bookings">Booking <p-sortIcon field="bookings"></p-sortIcon></th>
          <th pSortableColumn="status">status <p-sortIcon field="status"></p-sortIcon></th>

          <!-- <th pSortableColumn="date">Created Date <p-sortIcon field="date"></p-sortIcon></th> -->
          <th>Actions</th>



    
        </tr>
      </ng-template>
    
      <!-- Table Body -->
      <ng-template pTemplate="body" let-activity>
        <tr>
          <!-- <td>{{ activity.activity_ID }}</td> -->
          <td>
            <img [src]="activity.activity_Media" alt="Media" style="width: 50px; height: 50px; object-fit: cover;" />
          </td>
          <!-- <td>{{ activity.activity_Type }}</td> -->
      <td ><span [ngClass]="getActivityClass(activity.activity_Type)"> {{ activity.activity_Type }}</span> </td>

          <td [routerLink]="['/activity-details', activity.activity_ID, activity.activity_Type]">{{ activity.activity_Name }}</td>
          <td [routerLink]="['/activity-details', activity.activity_ID, activity.activity_Type]">{{ activity.sessions_No }}</td>

      
          <td [routerLink]="['/activity-details', activity.activity_ID, activity.activity_Type]">{{ activity.activity_Location | slice:0:10 }}...</td>
          <!-- <td [routerLink]="['/activity-details', activity.activity_ID, activity.activity_Type]">{{ activity.activity_Date }}</td> -->
          <td [routerLink]="['/activity-details', activity.activity_ID, activity.activity_Type]">{{ activity.start_Date }}</td>

          <td [routerLink]="['/activity-details', activity.activity_ID, activity.activity_Type]">{{ activity.end_Date }}</td>

<!-- 
          <td [routerLink]="['/activity-details', activity.activity_ID, activity.activity_Type]">{{ activity.activity_Rating }}</td>
          <td [routerLink]="['/activity-details', activity.activity_ID, activity.activity_Type]">{{ activity.rating_Count }}</td> -->
         
          <!-- <td [routerLink]="['/activity-details', activity.activity_ID, activity.activity_Type]">{{ activity.activity_Time || 'N/A' }}</td> -->
          <!-- <td [routerLink]="['/activity-details', activity.activity_ID, activity.activity_Type]">{{ activity.date | date: 'MMM d, y' }}</td> -->
          <td [routerLink]="['/activity-details', activity.activity_ID, activity.activity_Type]">{{ activity.activity_Seats }}</td>
          <td [routerLink]="['/activity-details', activity.activity_ID, activity.activity_Type]">{{ activity.bookings|| 'N/A' }}</td>
          <td [routerLink]="['/activity-details', activity.activity_ID, activity.activity_Type]">
            <div *ngIf="activity.status==='Published'" class="status"><i class=" pi pi-check-circle" style="color:#1151B4"></i>{{ activity.status}}</div>
            <div *ngIf="activity.status==='Not Published'" style="width:auto" class="type-danger"><i class=" pi pi-times-circle" style="color:#C1111A"></i>{{ activity.status}}</div>
            
            </td>
          
    
          <td>
            <div class="flex justify-content-between align-items-center gab-1">
              <div [routerLink]="['/update-activity', activity.activity_ID, activity.activity_Type]">
                <img
                  class="image-default"
                  src="editActivity.svg"
                  alt="Default Alert Icon"
                  style="cursor: pointer;"
                />
              </div>
              <div>
                <img class="mr-2" style="cursor: pointer;" src="threeDotPay.svg" (click)="op.toggle($event)" />
              </div>
              <p-overlayPanel #op>
                <ul class="menu-list">
                  <li><a (click)="viewParticipants(activity)" style="text-decoration: none;color:#363636;cursor: pointer;"  [routerLink]="['/participants', activity.activity_ID, activity.activity_Type]" >View Participants</a></li>


                  <li><a (click)="displayHome(activity.activity_ID,activity.activity_Type,true)"  style="text-decoration: none;color:#363636; cursor: pointer;" >Display on App Home</a></li>
                  <li><a (click)="displayHome(activity.activity_ID,activity.activity_Type,false)"  style="text-decoration: none;color:#363636; cursor: pointer;" >Not Display on App Home</a></li>

                  <li><a (click)="togglePublish(activity.activity_ID,activity.activity_Type,true)"  style="text-decoration: none;color:#363636; cursor: pointer;" >Publish</a></li>
                  <li><a (click)="togglePublish(activity.activity_ID,activity.activity_Type,false)"  style="text-decoration: none;color:#363636; cursor: pointer;" >Not Publish</a></li>


                  <li><a (click)="viewDetails(activity)" style="text-decoration: none;color:#363636; cursor: pointer;"  [routerLink]="['/activity-details', activity.activity_ID, activity.activity_Type]">View Details</a></li>
                  <li><a (click)="deleteItem(activity)"  style="text-decoration: none;color:#363636; cursor: pointer;" >Delete</a></li>
                </ul>
              </p-overlayPanel>
            </div>
          </td>
    
        </tr>
      </ng-template>
    </p-table>
  </div>
  
</div>
               
              
          </p-tabPanel>
  <!----------------------------------------------------------------------------------------------------->
          <p-tabPanel header="Header III">
              <ng-template pTemplate="header">
                  <div class="flex align-items-center gap-2">
  
                      <span class=" white-space-nowrap m-0">
                        Workshop
                      </span>
                      <!-- <p-badge [value]="pendingWorkers.length" /> -->
                  </div>
              </ng-template>

              <div>
                <div class="p-card p-3" style="border-radius: 16px;" >
                  <div class="flex justify-content-between align-items-center mb-4">
                    <!-- <h2>Subscription Alerts</h2> -->
                     <div class="card-header"> </div>
                    <div class="p-inputgroup w-50" style=" position: relative;">
                      <!-- <span class="p-inputgroup-addon">
                        <i class="pi pi-search"></i>
                      </span> -->
                      <input type="text"  class="search-input" pInputText placeholder="      Search by name, phone number, plans" [(ngModel)]="globalFilter" (input)="dt.filterGlobal(globalFilter, 'contains')" />
                      <i class="pi pi-search search-icon"></i>
                      <!-- <button pButton icon="pi pi-filter" class="p-button-outlined"></button> -->
                       <img src="filterplan.svg" (click)="openFilterDialog()"   style="margin-left: 24px; cursor: pointer;"/>
                    </div>
                  </div>
                
                  <p-table
      #dt
      [value]="activities"
      [paginator]="true"
      [rows]="10"
      [globalFilterFields]="['activity_Type', 'activity_Name', 'activity_Seats']"

      [filterDelay]="300"
      [resizableColumns]="true"
      [tableStyle]="{ 'min-width': '900px' }"
      [showCurrentPageReport]="true"
      [currentPageReportTemplate]="'Showing {first} to {last} of {totalRecords} entries'"
      (onPage)="pageChange($event)"
      [rowsPerPageOptions]="[5, 10, 20]"
    >
     
      <ng-template pTemplate="header">
        <tr>
          <!-- <th pSortableColumn="activity_ID">ID <p-sortIcon field="activity_ID"></p-sortIcon></th> -->
          <th  pSortableColumn="activity_Media">Image</th>
          <th pSortableColumn="activity_Type">Type <p-sortIcon field="activity_Type"></p-sortIcon></th>
          <th pSortableColumn="activity_Name">Name <p-sortIcon field="activity_Name"></p-sortIcon></th>
          <th pSortableColumn="sessions_No">Session Number<p-sortIcon field="sessions_No"></p-sortIcon></th>

 
          <th pSortableColumn="activity_Location">Location <p-sortIcon field="activity_Location"></p-sortIcon></th>
          <!-- <th pSortableColumn="activity_Date">Date <p-sortIcon field="activity_Date"></p-sortIcon></th> -->
          <th pSortableColumn="start_Date">Start Date <p-sortIcon field="start_Date"></p-sortIcon></th>

          <th pSortableColumn="end_Date">End Date <p-sortIcon field="end_Date"></p-sortIcon></th>

          <!-- <th pSortableColumn="activity_Rating">Rating <p-sortIcon field="activity_Rating"></p-sortIcon></th>
          <th pSortableColumn="rating_Count">Rating Count <p-sortIcon field="rating_Count"></p-sortIcon></th> -->
      
          <!-- <th pSortableColumn="activity_Time">Time <p-sortIcon field="activity_Time"></p-sortIcon></th> -->
          <th pSortableColumn="activity_Seats">Seats <p-sortIcon field="activity_Seats"></p-sortIcon></th>
          <th pSortableColumn="bookings">Booking <p-sortIcon field="bookings"></p-sortIcon></th>
          <th pSortableColumn="status">status <p-sortIcon field="status"></p-sortIcon></th>

          <!-- <th pSortableColumn="date">Created Date <p-sortIcon field="date"></p-sortIcon></th> -->
          <th>Actions</th>



    
        </tr>
      </ng-template>
    
      <!-- Table Body -->
      <ng-template pTemplate="body" let-activity>
        <tr>
          <!-- <td>{{ activity.activity_ID }}</td> -->
          <td>
            <img [src]="activity.activity_Media" alt="Media" style="width: 50px; height: 50px; object-fit: cover;" />
          </td>
          <!-- <td>{{ activity.activity_Type }}</td> -->
      <td ><span [ngClass]="getActivityClass(activity.activity_Type)"> {{ activity.activity_Type }}</span> </td>

          <td [routerLink]="['/activity-details', activity.activity_ID, activity.activity_Type]">{{ activity.activity_Name }}</td>
          <td [routerLink]="['/activity-details', activity.activity_ID, activity.activity_Type]">{{ activity.sessions_No }}</td>

      
          <td [routerLink]="['/activity-details', activity.activity_ID, activity.activity_Type]">{{ activity.activity_Location | slice:0:10 }}...</td>
          <!-- <td [routerLink]="['/activity-details', activity.activity_ID, activity.activity_Type]">{{ activity.activity_Date }}</td> -->
          <td [routerLink]="['/activity-details', activity.activity_ID, activity.activity_Type]">{{ activity.start_Date || '___' }}</td>
          <td [routerLink]="['/activity-details', activity.activity_ID, activity.activity_Type]">{{ activity.end_Date || '___'}}</td>

<!-- 
          <td [routerLink]="['/activity-details', activity.activity_ID, activity.activity_Type]">{{ activity.activity_Rating }}</td>
          <td [routerLink]="['/activity-details', activity.activity_ID, activity.activity_Type]">{{ activity.rating_Count }}</td> -->
         
          <!-- <td [routerLink]="['/activity-details', activity.activity_ID, activity.activity_Type]">{{ activity.activity_Time || 'N/A' }}</td> -->
          <!-- <td [routerLink]="['/activity-details', activity.activity_ID, activity.activity_Type]">{{ activity.date | date: 'MMM d, y' }}</td> -->
          <td [routerLink]="['/activity-details', activity.activity_ID, activity.activity_Type]">{{ activity.activity_Seats }}</td>
          <td [routerLink]="['/activity-details', activity.activity_ID, activity.activity_Type]">{{ activity.bookings|| 'N/A' }}</td>
          <td [routerLink]="['/activity-details', activity.activity_ID, activity.activity_Type]">
            <div *ngIf="activity.status==='Published'" class="status"><i class=" pi pi-check-circle" style="color:#1151B4"></i>{{ activity.status}}</div>
            <div *ngIf="activity.status==='Not Published'" style="width:auto" class="type-danger"><i class=" pi pi-times-circle" style="color:#C1111A"></i>{{ activity.status}}</div>
            
            </td>
          
    
          <td>
            <div class="flex justify-content-between align-items-center gab-1">
              <div [routerLink]="['/update-activity', activity.activity_ID, activity.activity_Type]">
                <img
                  class="image-default"
                  src="editActivity.svg"
                  alt="Default Alert Icon"
                  style="cursor: pointer;"
                />
              </div>
              <div>
                <img class="mr-2" style="cursor: pointer;" src="threeDotPay.svg" (click)="op.toggle($event)" />
              </div>
              <p-overlayPanel #op>
                <ul class="menu-list">
                  <li><a (click)="viewParticipants(activity)" style="text-decoration: none;color:#363636;cursor: pointer;"  [routerLink]="['/participants', activity.activity_ID, activity.activity_Type]" >View Participants</a></li>


                  <li><a (click)="displayHome(activity.activity_ID,activity.activity_Type,true)"  style="text-decoration: none;color:#363636; cursor: pointer;" >Display on App Home</a></li>
                  <li><a (click)="displayHome(activity.activity_ID,activity.activity_Type,false)"  style="text-decoration: none;color:#363636; cursor: pointer;" >Not Display on App Home</a></li>

                  <li><a (click)="togglePublish(activity.activity_ID,activity.activity_Type,true)"  style="text-decoration: none;color:#363636; cursor: pointer;" >Publish</a></li>
                  <li><a (click)="togglePublish(activity.activity_ID,activity.activity_Type,false)"  style="text-decoration: none;color:#363636; cursor: pointer;" >Not Publish</a></li>


                  <li><a (click)="viewDetails(activity)" style="text-decoration: none;color:#363636; cursor: pointer;"  [routerLink]="['/activity-details', activity.activity_ID, activity.activity_Type]">View Details</a></li>
                  <li><a (click)="deleteItem(activity)"  style="text-decoration: none;color:#363636; cursor: pointer;" >Delete</a></li>
                </ul>
              </p-overlayPanel>
            </div>
          </td>
    
        </tr>
      </ng-template>
    </p-table>
                </div>
                
              </div>
     
          </p-tabPanel>
  <!----------------------------------------------------------------------------------------------------->

          <p-tabPanel header="Header IIII">
            <ng-template pTemplate="header">
                <div class="flex align-items-center gap-2">
  
                    <span class=" white-space-nowrap m-0">
                      Events
                    </span>
                    <!-- <p-badge [value]="rejectedWorkers.length" /> -->
                </div>
            </ng-template>


            <div>
              <div class="p-card p-3" style="border-radius: 16px;" >
                <div class="flex justify-content-between align-items-center mb-4">
                  <!-- <h2>Subscription Alerts</h2> -->
                   <div class="card-header"> </div>
                  <div class="p-inputgroup w-50" style=" position: relative;">
                    <!-- <span class="p-inputgroup-addon">
                      <i class="pi pi-search"></i>
                    </span> -->
                    <input type="text"  class="search-input" pInputText placeholder="      Search by name, phone number, plans" [(ngModel)]="globalFilter" (input)="dt.filterGlobal(globalFilter, 'contains')" />
                    <i class="pi pi-search search-icon"></i>
                    <!-- <button pButton icon="pi pi-filter" class="p-button-outlined"></button> -->
                     <img src="filterplan.svg" (click)="openFilterDialog()"   style="margin-left: 24px; cursor: pointer;"/>
                  </div>
                </div>
              
                <p-table
                #dt
                [value]="activities"
                [paginator]="true"
                [rows]="10"
                [globalFilterFields]="['activity_Type', 'activity_Name', 'activity_Seats']"
          
                [filterDelay]="300"
                [resizableColumns]="true"
                [tableStyle]="{ 'min-width': '900px' }"
                [showCurrentPageReport]="true"
                [currentPageReportTemplate]="'Showing {first} to {last} of {totalRecords} entries'"
                (onPage)="pageChange($event)"
                [rowsPerPageOptions]="[5, 10, 20]"
              >
               
                <ng-template pTemplate="header">
                  <tr>
                    <!-- <th pSortableColumn="activity_ID">ID <p-sortIcon field="activity_ID"></p-sortIcon></th> -->
                    <th  pSortableColumn="activity_Media">Image</th>
                    <th pSortableColumn="activity_Type">Type <p-sortIcon field="activity_Type"></p-sortIcon></th>
                    <th pSortableColumn="activity_Name">Name <p-sortIcon field="activity_Name"></p-sortIcon></th>
           
                    <th pSortableColumn="activity_Location">Location <p-sortIcon field="activity_Location"></p-sortIcon></th>
                    <!-- <th pSortableColumn="activity_Date">Date <p-sortIcon field="activity_Date"></p-sortIcon></th> -->
                    <!-- <th pSortableColumn="start_Date">Start Date <p-sortIcon field="start_Date"></p-sortIcon></th> -->
          
                    <th pSortableColumn="activity_Date">Date <p-sortIcon field="activity_Date"></p-sortIcon></th>
          
                    <!-- <th pSortableColumn="activity_Rating">Rating <p-sortIcon field="activity_Rating"></p-sortIcon></th>
                    <th pSortableColumn="rating_Count">Rating Count <p-sortIcon field="rating_Count"></p-sortIcon></th> -->
                
                    <!-- <th pSortableColumn="activity_Time">Time <p-sortIcon field="activity_Time"></p-sortIcon></th> -->
                    <th pSortableColumn="activity_Seats">Seats <p-sortIcon field="activity_Seats"></p-sortIcon></th>
                    <th pSortableColumn="bookings">Booking <p-sortIcon field="bookings"></p-sortIcon></th>
                    <th pSortableColumn="postponed_To">postpone date <p-sortIcon field="postponed_To"></p-sortIcon></th>

                    <th pSortableColumn="status">status <p-sortIcon field="status"></p-sortIcon></th>
          
                    <!-- <th pSortableColumn="date">Created Date <p-sortIcon field="date"></p-sortIcon></th> -->
                    <th>Actions</th>
          
          
          
              
                  </tr>
                </ng-template>
              
                <!-- Table Body -->
                <ng-template pTemplate="body" let-activity>
                  <tr>
                    <!-- <td>{{ activity.activity_ID }}</td> -->
                    <td>
                      <img [src]="activity.activity_Media" alt="Media" style="width: 50px; height: 50px; object-fit: cover;" />
                    </td>
                    <!-- <td>{{ activity.activity_Type }}</td> -->
                <td ><span [ngClass]="getActivityClass(activity.activity_Type)"> {{ activity.activity_Type }}</span> </td>
          
                    <td [routerLink]="['/activity-details', activity.activity_ID, activity.activity_Type]">{{ activity.activity_Name }}</td>
                
                    <td [routerLink]="['/activity-details', activity.activity_ID, activity.activity_Type]">{{ activity.activity_Location | slice:0:10 }}...</td>
                    <!-- <td [routerLink]="['/activity-details', activity.activity_ID, activity.activity_Type]">{{ activity.activity_Date }}</td> -->
                    <!-- <td [routerLink]="['/activity-details', activity.activity_ID, activity.activity_Type]">{{ activity.start_Date }}</td> -->
          
                    <td [routerLink]="['/activity-details', activity.activity_ID, activity.activity_Type]">{{ activity.activity_Date }}</td>
          
          <!-- 
                    <td [routerLink]="['/activity-details', activity.activity_ID, activity.activity_Type]">{{ activity.activity_Rating }}</td>
                    <td [routerLink]="['/activity-details', activity.activity_ID, activity.activity_Type]">{{ activity.rating_Count }}</td> -->
                   
                    <!-- <td [routerLink]="['/activity-details', activity.activity_ID, activity.activity_Type]">{{ activity.activity_Time || 'N/A' }}</td> -->
                    <!-- <td [routerLink]="['/activity-details', activity.activity_ID, activity.activity_Type]">{{ activity.date | date: 'MMM d, y' }}</td> -->
                    <td [routerLink]="['/activity-details', activity.activity_ID, activity.activity_Type]">{{ activity.activity_Seats }}</td>
                    <td [routerLink]="['/activity-details', activity.activity_ID, activity.activity_Type]">{{ activity.bookings|| 'N/A' }}</td>
                    <td *ngIf="activity.status==='Postponed'" [routerLink]="['/activity-details', activity.activity_ID, activity.activity_Type]">{{ activity.postponed_To | date: 'MMM d, y' }}</td>
                    <td *ngIf="activity.status!=='Postponed'" [routerLink]="['/activity-details', activity.activity_ID, activity.activity_Type]">__</td>


                    <td [routerLink]="['/activity-details', activity.activity_ID, activity.activity_Type]">
                      <div *ngIf="activity.status==='Published'" class="status"><i class=" pi pi-check-circle" style="color:#1151B4"></i>{{ activity.status}}</div>
                      <div *ngIf="activity.status==='NotPublished'" style="width:auto" class="type-danger"><i class=" pi pi-times-circle" style="color:#C1111A"></i>{{ activity.status}}</div>
                      <div *ngIf="activity.status==='Not Published'" style="width:auto" class="type-danger"><i class=" pi pi-times-circle" style="color:#C1111A"></i>{{ activity.status}}</div>

                      <div *ngIf="activity.status==='Cancelled'" style="width:auto" class="type-danger"><i class=" pi pi-times-circle" style="color:#C1111A"></i>{{ activity.status}}</div>

                      <div *ngIf="activity.status==='Postponed'" style="width:auto" class="type-warning"><i class=" pi pi-pause-circle" style="color:#BE8B11"></i>{{ activity.status}}</div>

                      
                      </td>
                    
              
                    <td>
                      <div class="flex justify-content-between align-items-center gab-1">
                        <div [routerLink]="['/update-activity', activity.activity_ID, activity.activity_Type]">
                          <img
                            class="image-default"
                            src="editActivity.svg"
                            alt="Default Alert Icon"
                            style="cursor: pointer;"
                          />
                        </div>
                        <div>
                          <img class="mr-2" style="cursor: pointer;" src="threeDotPay.svg" (click)="op.toggle($event)" />
                        </div>
                        <p-overlayPanel #op>
                          <ul class="menu-list">
                            <li><a (click)="viewParticipants(activity)" style="text-decoration: none;color:#363636;cursor: pointer;"  [routerLink]="['/participants', activity.activity_ID, activity.activity_Type]" >View Participants</a></li>

          
                            <li><a (click)="displayHome(activity.activity_ID,activity.activity_Type,true)"  style="text-decoration: none;color:#363636; cursor: pointer;" >Display on App Home</a></li>
                  <li><a (click)="displayHome(activity.activity_ID,activity.activity_Type,false)"  style="text-decoration: none;color:#363636; cursor: pointer;" >Not Display on App Home</a></li>

                            <li><a (click)="togglePublish(activity.activity_ID,activity.activity_Type,true)"  style="text-decoration: none;color:#363636; cursor: pointer;" >Publish</a></li>
                            <li><a (click)="togglePublish(activity.activity_ID,activity.activity_Type,false)"  style="text-decoration: none;color:#363636; cursor: pointer;" >Not Publish</a></li>
          
          
                            <li><a (click)="viewDetails(activity)" style="text-decoration: none;color:#363636; cursor: pointer;"  [routerLink]="['/activity-details', activity.activity_ID, activity.activity_Type]">View Details</a></li>

                            <li><a (click)="showReason(activity.activity_ID,'cancel')" style="text-decoration: none;color:#363636; cursor: pointer;"  >Cancel Event</a></li>

                            <li><a (click)="showReason(activity.activity_ID,'postpone')" style="text-decoration: none;color:#363636; cursor: pointer;" >Postpone Event</a></li>


                            <li><a (click)="deleteItem(activity)"  style="text-decoration: none;color:#363636; cursor: pointer;" >Delete</a></li>
                          </ul>
                        </p-overlayPanel>
                      </div>
                    </td>
              
                  </tr>
                </ng-template>
              </p-table>
              </div>
              
            </div>
  
        </p-tabPanel>

        <!------------------------------------------------------------------------------------------------------------>
        <p-tabPanel header="Header IIIII">
            <ng-template pTemplate="header">
                <div class="flex align-items-center gap-2">
  
                    <span class=" white-space-nowrap m-0">
                      Consultant
                    </span>
                    <!-- <p-badge [value]="rejectedWorkers.length" /> -->
                </div>
            </ng-template>


            <div>
              <div class="p-card p-3" style="border-radius: 16px;" >
                <div class="flex justify-content-between align-items-center mb-4">
                  <!-- <h2>Subscription Alerts</h2> -->
                   <div class="card-header"> </div>
                  <div class="p-inputgroup w-50" style=" position: relative;">
                    <!-- <span class="p-inputgroup-addon">
                      <i class="pi pi-search"></i>
                    </span> -->
                    <input type="text"  class="search-input" pInputText placeholder="      Search by name, phone number, plans" [(ngModel)]="globalFilter" (input)="dt.filterGlobal(globalFilter, 'contains')" />
                    <i class="pi pi-search search-icon"></i>
                    <!-- <button pButton icon="pi pi-filter" class="p-button-outlined"></button> -->
                     <img src="filterplan.svg" (click)="openFilterDialog()"   style="margin-left: 24px; cursor: pointer;"/>
                  </div>
                </div>
              
                <p-table
                #dt
                [value]="activities"
                [paginator]="true"
                [rows]="10"
                [globalFilterFields]="['activity_Type', 'activity_Name', 'activity_Seats']"
          
                [filterDelay]="300"
                [resizableColumns]="true"
                [tableStyle]="{ 'min-width': '900px' }"
                [showCurrentPageReport]="true"
                [currentPageReportTemplate]="'Showing {first} to {last} of {totalRecords} entries'"
                (onPage)="pageChange($event)"
                [rowsPerPageOptions]="[5, 10, 20]"
              >
               
                <ng-template pTemplate="header">
                  <tr>
                    <!-- <th pSortableColumn="activity_ID">ID <p-sortIcon field="activity_ID"></p-sortIcon></th> -->
                    <th  pSortableColumn="activity_Media">Image</th>
                    <th pSortableColumn="activity_Type">Type <p-sortIcon field="activity_Type"></p-sortIcon></th>
                    <th pSortableColumn="activity_Name">Name <p-sortIcon field="activity_Name"></p-sortIcon></th>
           
                    <th pSortableColumn="activity_Location">Location <p-sortIcon field="activity_Location"></p-sortIcon></th>
                    <th pSortableColumn="activity_Date">Date <p-sortIcon field="activity_Date"></p-sortIcon></th>
                    <!-- <th pSortableColumn="start_Date">Start Date <p-sortIcon field="start_Date"></p-sortIcon></th>
          
                    <th pSortableColumn="end_Date">End Date <p-sortIcon field="end_Date"></p-sortIcon></th> -->
          
                    <!-- <th pSortableColumn="activity_Rating">Rating <p-sortIcon field="activity_Rating"></p-sortIcon></th>
                    <th pSortableColumn="rating_Count">Rating Count <p-sortIcon field="rating_Count"></p-sortIcon></th> -->
                
                    <!-- <th pSortableColumn="activity_Time">Time <p-sortIcon field="activity_Time"></p-sortIcon></th> -->
                    <th pSortableColumn="activity_Seats">Seats <p-sortIcon field="activity_Seats"></p-sortIcon></th>
                    <th pSortableColumn="bookings">Booking <p-sortIcon field="bookings"></p-sortIcon></th>
                    <th pSortableColumn="status">status <p-sortIcon field="status"></p-sortIcon></th>
          
                    <!-- <th pSortableColumn="date">Created Date <p-sortIcon field="date"></p-sortIcon></th> -->
                    <th>Actions</th>
          
          
          
              
                  </tr>
                </ng-template>
              
                <!-- Table Body -->
                <ng-template pTemplate="body" let-activity>
                  <tr>
                    <!-- <td>{{ activity.activity_ID }}</td> -->
                    <td>
                      <img [src]="activity.activity_Media" alt="Media" style="width: 50px; height: 50px; object-fit: cover;" />
                    </td>
                    <!-- <td>{{ activity.activity_Type }}</td> -->
                <td ><span [ngClass]="getActivityClass(activity.activity_Type)"> {{ activity.activity_Type }}</span> </td>
          
                    <td [routerLink]="['/activity-details', activity.activity_ID, activity.activity_Type]">{{ activity.activity_Name }}</td>
                
                    <td [routerLink]="['/activity-details', activity.activity_ID, activity.activity_Type]">{{ activity.activity_Location | slice:0:10 }}...</td>
                    <td [routerLink]="['/activity-details', activity.activity_ID, activity.activity_Type]">{{ activity.activity_Date }}</td>
                    <!-- <td [routerLink]="['/activity-details', activity.activity_ID, activity.activity_Type]">{{ activity.start_Date }}</td>
          
                    <td [routerLink]="['/activity-details', activity.activity_ID, activity.activity_Type]">{{ activity.end_Date }}</td> -->
          
          <!-- 
                    <td [routerLink]="['/activity-details', activity.activity_ID, activity.activity_Type]">{{ activity.activity_Rating }}</td>
                    <td [routerLink]="['/activity-details', activity.activity_ID, activity.activity_Type]">{{ activity.rating_Count }}</td> -->
                   
                    <!-- <td [routerLink]="['/activity-details', activity.activity_ID, activity.activity_Type]">{{ activity.activity_Time || 'N/A' }}</td> -->
                    <!-- <td [routerLink]="['/activity-details', activity.activity_ID, activity.activity_Type]">{{ activity.date | date: 'MMM d, y' }}</td> -->
                    <td [routerLink]="['/activity-details', activity.activity_ID, activity.activity_Type]">{{ activity.activity_Seats }}</td>
                    <td [routerLink]="['/activity-details', activity.activity_ID, activity.activity_Type]">{{ activity.bookings|| 'N/A' }}</td>
                    <td [routerLink]="['/activity-details', activity.activity_ID, activity.activity_Type]">
                      <div *ngIf="activity.status==='Published'" class="status"><i class=" pi pi-check-circle" style="color:#1151B4"></i>{{ activity.status}}</div>
                      <div *ngIf="activity.status==='Not Published'" style="width:auto" class="type-danger"><i class=" pi pi-times-circle" style="color:#C1111A"></i>{{ activity.status}}</div>
                      
                      </td>
                    
              
                    <td>
                      <div class="flex justify-content-between align-items-center gab-1">
                        <div [routerLink]="['/update-activity', activity.activity_ID, activity.activity_Type]">
                          <img
                            class="image-default"
                            src="editActivity.svg"
                            alt="Default Alert Icon"
                            style="cursor: pointer;"
                          />
                        </div>
                        <div>
                          <img class="mr-2" style="cursor: pointer;" src="threeDotPay.svg" (click)="op.toggle($event)" />
                        </div>
                        <p-overlayPanel #op>
                          <ul class="menu-list">
                            <li><a (click)="viewParticipants(activity)" style="text-decoration: none;color:#363636;cursor: pointer;"  [routerLink]="['/participants', activity.activity_ID, activity.activity_Type]" >View Participants</a></li>

          
                            <li><a (click)="displayHome(activity.activity_ID,activity.activity_Type,true)"  style="text-decoration: none;color:#363636; cursor: pointer;" >Display on App Home</a></li>
                  <li><a (click)="displayHome(activity.activity_ID,activity.activity_Type,false)"  style="text-decoration: none;color:#363636; cursor: pointer;" >Not Display on App Home</a></li>

                            <li><a (click)="togglePublish(activity.activity_ID,activity.activity_Type,true)"  style="text-decoration: none;color:#363636; cursor: pointer;" >Publish</a></li>
                            <li><a (click)="togglePublish(activity.activity_ID,activity.activity_Type,false)"  style="text-decoration: none;color:#363636; cursor: pointer;" >Not Publish</a></li>
          
          
                            <li><a (click)="viewDetails(activity)" style="text-decoration: none;color:#363636; cursor: pointer;"  [routerLink]="['/activity-details', activity.activity_ID, activity.activity_Type]">View Details</a></li>
                            <li><a (click)="deleteItem(activity)"  style="text-decoration: none;color:#363636; cursor: pointer;" >Delete</a></li>
                          </ul>
                        </p-overlayPanel>
                      </div>
                    </td>
              
                  </tr>
                </ng-template>
              </p-table>
              </div>
              
            </div>
  
        </p-tabPanel>
      </p-tabView>

        <!-- The button -->
         <!-- <div class="mt-3">
            <p-button
            label="Add New Plan"
            icon="pi pi-plus"
            class="p-button-outlined custom-button"
          ></p-button>
         </div> -->
     
    <!-- </div> -->
  
    </div>
  
   </div>
  
  
  
  
  
   
  
  
  
  
  
  <!------------------------dialog for filter on All------------------->

  <!-- <p-button (onClick)="openFilterDialog()" label="Show" /> -->
  <!-- <p-dialog 
  [(visible)]="displayFilter" 
  header="Filter" 
  [closable]="true" 
  [modal]="true" 

  [style]="{  overflow: 'visible' }"
 

  class="responsive-dialog"
  [contentStyle]="{ padding: '1rem', overflow: 'visible' }"
>
   
  <div class="mb-3">
    <label for="planType" class="block font-bold mb-2">Plan Type</label>
    <div class="flex flex-wrap gap-3">
      <p-button
        *ngFor="let type of planTypes"
        [label]="type.label"
        [ngClass]="{ 'p-button-outlined custom-button': type.selected, 'p-button-outlined custom-button-add': !type.selected }"
        (click)="togglePlanType(type)"
        [style]="{ width: 'auto',padding:'8px 16px'  }"
        class="rounded-pill"
      ></p-button>
    </div>
  </div>
  

  
  <div class="mb-3">
    <label for="dateRange" class="block font-bold mb-2">Date (From-To)</label>
    <p-calendar
      [(ngModel)]="selectedDate"
      [showIcon]="true"
      inputId="dateRange"
      placeholder="Enter date"
      
      class="custom-calendar"
    ></p-calendar>
  </div>

  
  <div class="flex justify-content-between align-items-center " style="margin-top: 35px;">
    <div class=" ">
      <p-button
      label="Cancel"
     
      class="p-button-outlined custom-button"
      
    ></p-button>
   </div>

   <div class=" ">
    <p-button
    label="Apply"
    
    class="p-button-outlined custom-button-add"
     (onClick)="showReminder()"
  ></p-button>
 </div>
  </div>










</p-dialog> -->

<!------------------------------------------------------------------------->



<p-dialog
  [(visible)]="displayReminder"
   
  [modal]="true"
  [style]="{ width: '400px' }"
  [closable]="true"
  [dismissableMask]="true"
>
  <div class="reminder-body">
    <img src="successPopup.svg" class="mb-2" />
    <p>
      A notification has been sent to 
      <span class="highlight">Ahmed Ali</span> 
      as a reminder that the plan will 
      <span class="highlight">Expire in 7 days</span>.
    </p>
  </div>
</p-dialog>

<!-- Trigger button -->
<!-- <button pButton type="button" label="Show Reminder" (click)="showReminder()"></button> -->


<!-------------------------------------------------- filter dialog all------------------------------------------------->



<p-dialog 
[(visible)]="displayFilter" 
header="Filter" 
[closable]="true" 
[modal]="true" 

[style]="{  overflow: 'visible' }"


class="responsive-dialog"
[contentStyle]="{ padding: '1rem', overflow: 'visible' }"
>
 


 


<div class="mb-3">
  <label for="planType" class="block font-bold mb-2">Status</label>
  
  <div class="flex justify-content-start gap-2 align-items-center">
    <div *ngFor="let type of status"  >
      <button
        type="button"
        class="activity border-0"
        [ngClass]="{
          'selected-success': type.selected && type.value === 'event',
          'p-tag-success': !type.selected && type.value === 'event',
  
          'selected-failed': type.selected && type.value === 'consultant',
          'p-tag-danger': !type.selected && type.value === 'consultant',
  
          'selected-purble': type.selected && type.value === 'workshop',
          'p-tag-purble': !type.selected && type.value === 'workshop',
  
          'selected-all': type.selected && type.value === 'all',
          'not-all': !type.selected && type.value === 'all',

          'selected-info': type.selected && type.value === 'course',
          'p-tag-info': !type.selected && type.value === 'course',
  
        }"
        (click)="toggleStatus(type)"
      >
        {{ type.label }}
      </button>
    </div>
  </div>
   
  
  
</div>

 


<!-- Date Range -->
<div class="mb-3">
  <label for="dateRange" class="block font-bold mb-2">Date (From-To)</label>
  <p-calendar
    [(ngModel)]="selectedDate"
    [showIcon]="true"
    inputId="dateRange"
    placeholder="Enter date"
    
    class="custom-calendar"
  ></p-calendar>
</div>

<!-- Buttons -->
<div class="flex justify-content-between align-items-center " style="margin-top: 35px;">
  <div class=" ">
    <p-button
    label="Cancel"
   
    class="p-button-outlined custom-button"
    
  ></p-button>
 </div>

 <div class=" ">
  <p-button
  label="Apply"
  
  class="p-button-outlined custom-button-add"
   (onClick)="showReminder()"
></p-button>
</div>
</div>










</p-dialog>

<!----------------------------------------dialog for success publish---------------------------------------------------------------------->

<p-dialog 
    [(visible)]="showPublishDialog" 
    [modal]="true" 
    class="custom-header" 
    [style]="{ width: '400px' }"
  [closable]="true"
  [dismissableMask]="true"
      
    [contentStyle]="{ 'text-align': 'center', 'padding': '1rem' }">
  <div>
    <img src="publishCourse.svg" alt="Warning Icon" width="50" height="50" />
    <div class=" tx-success mt-3">Are you sure you want to Publish the course?</div>
    <div class="dialog-buttons mt-4">
       



      <div class="flex justify-content-between align-items-center " style="margin-top: 35px;">
        <div class=" ">
          <p-button
          label="No"
         
          class="p-button-outlined custom-button"
          (click)="onCancel()"
        ></p-button>
       </div>
      
       <div class=" ">
        <p-button
        label="Yes"
        
        class="p-button-outlined custom-button-add"
        (click)="onConfirm()"
      ></p-button>
      </div>
      </div>


 
    </div>
  </div>
</p-dialog>



<!-----------------------------cancel consultant-------------------------------->
<p-dialog 
    [(visible)]="showCancelDialog" 
    header="Cancel Consultant" 
    [modal]="true" 
    [closable]="true" 
    [contentStyle]="{ 'padding': '1rem' }"
    [style]="{ 'width': '600px' }">
    <div class="session-item">
      <div *ngFor="let session of sessions"  >
        <div class="flex align-items-center gap-2">
          <p-checkbox [(ngModel)]="session.selected" binary="true"></p-checkbox>
          <span>{{ session.day }}</span>
        </div>
        <div class="flex align-items-center mt-2 gap-4">
          <div class=" flex justify-content-start align-items-center gab-2 border-end pr-4">
            <i class="pi pi-clock" style="color: #1151B4"></i>
            <span>{{ session.time }}</span>
          </div>
           
          <div class=" flex justify-content-start align-items-center gab-2 border-end pr-4">
            <i class="pi pi-ticket" style="color: #1151B4"></i>
             <span>{{ session.bookings }}</span>
          </div>
           
          <span class="duration-text">{{ session.duration }}</span>
        </div>
        <hr *ngIf="session !== sessions[sessions.length - 1]" />
      </div>

      
      <div class="flex justify-content-between align-items-center " style="margin-top: 35px;">
        <div class=" ">
          <p-button
          label="Cancel"
         
          class="p-button-outlined custom-button"
          (click)="onCancel()"
        ></p-button>
       </div>
      
       <div class=" ">
        <p-button
        label="Save"
        
        class="p-button-outlined custom-button-add"
        (click)="onConfirm()"
      ></p-button>
      </div>
      </div>
    </div>
 
</p-dialog>




<!--------------------------------------popup action event---------------->


<p-dialog header="Type Reason" [modal]="true" [(visible)]="visibleReason" [style]="{ width: '30rem',height: '25rem' }">
  <span class="p-text-secondary block mb-5">Type Your Reason.</span>
  <div class="flex align-items-center gap-3 mb-3">
      <label class="font-semibold w-6rem">Reason</label>
      <input type="text" pInputText [(ngModel)]="reason" />
  </div>

  <div *ngIf="showDate" class="flex align-items-center gap-3 mb-3">
    <label class="font-semibold w-6rem">To Date</label>
    <p-calendar
    [(ngModel)]="toDate"
    [showIcon]="true"
    inputId="dateRange"
    placeholder="Enter date"
    
    class="custom-calendar"
  ></p-calendar>
  </div>
   
  <div class="flex justify-content-end gap-2">
      <p-button label="Cancel " class=" custom-button" severity="secondary" (onClick)="visibleReason = false" />
      <p-button label="Save" class=" custom-button-add" (onClick)="eventAction()" />
  </div>
</p-dialog>