<div class="parent">
  <div class="fixDiv"></div>
  <div class="page">
    <p-breadcrumb class="max-w-full" [model]="itemsLink">
      <ng-template pTemplate="item" let-item>
          <a [routerLink]="item.routerLink" class="p-menuitem-link" routerLinkActive="text-primary font-semibold">
              <span *ngIf="item.icon" [ngClass]="item.icon" class="mr-2"></span>
              <span>{{ item.label }}</span>
          </a>
      </ng-template>
    </p-breadcrumb>



    <div class="row">
      <div class="col-lg-7 col-md-12 col-sm-12">

        <ng-container>
          <div class="container testimonial-group">
            <div class="row mb-3 vcrr">
              <div class="image-gallery" style="max-width: 1500px;">
                <div class="main-image">
                  <img
                    [src]="currentImage"
                    style="width: 100%; height: 500px; border-radius: 13px;" />
                </div>
                <div class="thumbnail-container" style="display: flex; justify-content: flex-start; gap:10px; margin-top: 20px; ">
                  <div *ngFor="let img of displayedThumbnails; let i = index" style="cursor: pointer;    width: 25%;" (click)="changeMainImage(img)">
                    <img
                      [src]="img?.includes('https') ? img : '../../../assets/images/apartmentImages/default_apartment.jpg'"
                      [class.selected-thumbnail]="img === currentImage"
                      style="height: 120px; width: 100%; border-radius: 13px;" />
                  </div>
                </div>
                <div *ngIf="images.length > 5" class="navigation-buttons" style="display: flex; justify-content: space-between; margin-top: 20px;">
                  <button class="btn btn-secondary" style="border-radius:10px; background-color:#D2D9E1; color: #1F4068;" (click)="previous()" [disabled]="currentIndex === 0">Previous</button>
                  <button class="btn btn-secondary" style="border-radius:10px; background-color:#D2D9E1; color: #1F4068;" (click)="next()" [disabled]="currentIndex + 5 >= images.length">Next</button>
                </div>
              </div>
            </div>
          </div>
        </ng-container>


        <div>
          <p  class="r-by my-5 ">Description</p>
          <div class="description-text">
            <p>{{ issueData?.issue_Desc }}</p>
          </div>
        </div>
      </div>

      <div class="col-lg-5 col-md-12 col-sm-12">
        <div class="custom-apartment-details bg-white rounded-3 p-3">
          <h3 class="custom-apartment-title">{{ issueData?.issue_Name }}</h3>

          <div class="custom-apartment-info d-flex mb-0">
            <div class="custom-info-item d-flex align-items-center me-4">
              <img src="locIssue.svg" alt="Location">
              <p class="issue-info">{{ issueData?.issue_Location }}</p>
            </div>

            <div class="custom-info-item d-flex align-items-center me-4">
              <img src="homeIss.svg" alt="Bedrooms">
              <p class="issue-info">Apartment Number: {{ issueData?.apartment_No }}</p>
            </div>

            <div class="custom-info-item d-flex align-items-center">
              <img src="timeIss.svg" alt="Guests">
              <p class="issue-info">Date Reported: : {{ issueData?.issue_reported_at | date: 'dd/MM/yyyy' }}</p>
            </div>
            <div class="custom-info-item">
              <img src="issue.svg" alt="Duration">
              <p class="issue-info">Issues:{{ issueData?.issue_Category.join(', ') }}</p>
            </div>
            <div class="custom-info-item">
              <img src="levelIss.svg" alt="Published">
              <p class="issue-info">Priority Level:{{ issueData?.issue_Priority }}</p>
            </div>
            <div class="custom-info-item">
              <img src="estimateTime.svg" alt="Published">
              <p class="issue-info">Estimated Repair Time: {{ issueData?.issue_Estimation_Repair | date:'shortTime' }}</p>
            </div>
            <div class="">
              <div class="r-by">Requested by</div>
              <div class="custom-info-item" style="padding:24px;">
                <p-avatar
                *ngIf="issueData?.requested_By_Image===''"
                icon="pi pi-user"
                styleClass="mr-2"
                size="large"

                shape="circle" />

                <img *ngIf="issueData?.requested_By_Image!==''" [src]="issueData?.requested_By_Image " alt="Published" style="width: 40px; height: 40px;">
                <div>
                  <div class="name">{{ issueData?.requested_By }}</div>
                  <div class="mail">bentengmail.com</div>

                </div>
              </div>

            </div>



            <div class="">
              <div class="r-by">Assigned To</div>
              <div class="custom-info-item" style="padding:24px;">
                <p-avatar
                *ngIf="issueData?.assigned_Pic===''"
                icon="pi pi-user"
                styleClass="mr-2"
                size="large"

                shape="circle" />

                <img *ngIf="issueData?.assigned_Pic!==''" [src]="issueData?.assigned_Pic " alt="Published" style="width: 40px; height: 40px;">
                <div>
                  <div class="name">{{ issueData?.assigned_Name }}</div>
                  <div class="mail">bentengmail.com</div>

                </div>
              </div>

            </div>

          </div>



          <p-toast></p-toast>

          <div class="accord"></div>
          <div class="custom-apartment-buttons mt-5">
            <button class="custom-btn-rented "  [ngClass]="{'disabled-btn mb-2': assigned, 'custom-btn-rented': !assigned}" (click)=" onAssign()" [disabled]="assigned"> {{ !assigned ? 'Assign Job' : 'Assigned' }}
            </button>
            <button class="custom-btn-delete"     [ngClass]="{'disabled-btn': issueData?. is_Published, 'custom-btn-delete': !issueData?.is_Published}"  (click)="publishIssue()"  >
              {{ !issueData?.is_Published ? 'Publish Job' : 'Unpublish Job' }}
            </button>
          </div>
        </div>
      </div>
    </div>



    <div class="devider"></div>

    <!-- <div>
      <div class="available-appointment">Available Appointment</div>
      <div class="info-appointment" style="margin-bottom:24px;">
        <div class="view">October 9th, 2024 ,10:00 AM</div>
        <div class="view">October 9th, 2024 ,10:00 AM</div>
      </div>

      <div class="info-appointment">
        <div class="view">October 9th, 2024 ,10:00 AM</div>
        <div class="view">October 9th, 2024 ,10:00 AM</div>
      </div>

    </div> -->



  <div>
    <div class="personal-info">Issue Details</div>
    <div class="info-grid">
      <div>
        <div class="h">Name on the Ringbell</div>
        <div class="i">{{ issueData?.nameRing_Bill || 'N/A' }}</div>
      </div>
      <div>
        <div class="h">Floor No</div>
        <div class="i">{{ issueData?.floor_No || 'N/A' }}</div>
      </div>
      <div>
        <div class="h">The Location of the Apartment on the Floor</div>
        <div class="i">{{issueData?.apartment_Location || 'N/A' }}</div>
      </div>
      <div>
        <div class="h">Phone Number</div>
        <div class="i">{{ issueData?.phoneNo || 'N/A' }}</div>
      </div>
      <div>
        <div class="h">Alternative Phone Number</div>
        <div class="i">{{ issueData?.alternative_Phone || 'N/A' }}</div>
      </div>
      <div>
        <div class="h">User Type</div>
        <div class="i">{{ issueData?.userType || 'N/A' }}</div>
      </div>
      <div>
        <div class="h">Issue Type</div>
        <div class="i">{{ issueData?.issue_Category ? issueData?.issue_Category.join(', ') : 'N/A' }}</div>
      </div>
      <div>
        <div class="h">Property Manager</div>
        <div class="i">{{ issueData?.property_Manager || 'N/A' }}</div>
      </div>
    </div>
  </div>




<div class="devider"></div>

    <div>
      <div class="personal-info ">Available Appointment</div>
      <div class="row" style="margin-bottom:24px;">
        <div *ngFor="let appointment of issueData?.issue_Appointments" class="col-6 mb-3">
          <div class="view">{{ appointment | date: 'MMMM d, yyyy, h:mm a' }}</div>
        </div>
      </div>
    </div>


    <div class="devider"></div>

    <div>
      <div class="r-by mt-4">Comments</div>


          <div class="view fixcommit mt-2">Issue: A constant dripping sound is emanating from the tap in your house, indicating a leaking faucet. This problem not only leads to water wastage but can also cause annoyance and inconvenience.
            Observations:
            You notice water droplets forming and falling from the tap even when it's turned off.
            </div>


    </div>


    <div class="devider"></div>

    <div  >
      <div class="personal-info">Payment Responsibility and Cost Breakdown
        <div class="fixcommit">a brief overview about solved the problem</div>
      </div>

      <div class="info-grid">
          <div>

              <div  class="h">who will pay</div>

              <div class="i">N/A </div>
          </div>
          <div>
              <div class="h">worker cost</div>
              <div class="i"> N/A</div>
          </div>

          <div>

              <div  class="h">items cost</div>

             <div class="i"> N/A</div>
          </div>
          <div>

            <div   class="h">Total cost</div>

            <div class="i">N/A </div>
        </div>






      </div>
  </div>




    <div>
      <div class="r-by mt-4">Description</div>


          <div class="view fixcommit mt-2 ">Issue: A constant dripping sound is emanating from the tap in your house, indicating a leaking faucet. This problem not only leads to water wastage but can also cause annoyance and inconvenience.
            Observations:
            You notice water droplets forming and falling from the tap even when it's turned off.
            </div>


    </div>


    <div>
      <div class="r-by mt-4 mb-2">Attachment</div>
      <div class="imgs">
        <img src="https://via.placeholder.com/150" alt="Dummy Image 1" />
        <img src="https://via.placeholder.com/150" alt="Dummy Image 2" />
        <img src="https://via.placeholder.com/150" alt="Dummy Image 3" />
        <img src="https://via.placeholder.com/150" alt="Dummy Image 4" />


      </div>
    </div>


    <div class="document-content" >
      <div class="doc-info">
        <img src="document.svg" alt="Issue Details" />
        <p>Issue Details.pdf</p>
      </div>
      <div class="doc-actions">
        <!-- <a class="text-decoration-none" [href]="profileData?.attachments" target="_blank">
          <button class="btn-view">
            <i class="pi pi-eye"></i> View
          </button>
        </a> -->
        <a class="text-decoration-none" href=" " download>
          <button class="btn-download">
             <img src="download.svg"/>
          </button>
        </a>
      </div>
    </div>


  </div>





  </div>







  <p-dialog header="Select User Type" [modal]="true" [(visible)]="visibleAssignTable" [style]="{ width: '25rem' }">
    <span class="p-text-secondary block mb-5"> Choose User Type.</span>

    <div class="flex justify-content-center gap-2">
       <div class="flex justify-content-center user-type" (click)="onChooseType('staff')"><img src="staffs.svg"/></div>
       <div class="flex justify-content-center user-type" (click)="onChooseType('worker')"><img src="workers.svg"/></div>
    </div>
  </p-dialog>

  <p-dialog class="DS"  [modal]="true" [(visible)]="assignSuccess" [style]="{ width: '25rem' }">

    <div class="successs">
      <div class="featured-icon">
        <img src="tick_done.svg"/>
      </div>
        <div class="textS">Assigned successfully!</div>
        <!-- <div class="textS2">rejection reason has been sent successfully.</div> -->


        <p-button   [routerLink]="['/issues-list']" class="accept" label="Back to issues" />

    </div>
  </p-dialog>







