.parent{
  display:flex;
  width: 100%;
  padding-top: 100px;

}

.fixDiv{
  width:250px;
}


.page{
  padding: 30px;
  width: 80%;
  /* padding-top: 80px; */
}

:host ::ng-deep .p-breadcrumb {
  border:none;
  margin-left: 0px !important;

  padding: 0 0 !important;

 padding-top: 10px;
  margin-bottom: 20px;

}
:host ::ng-deep .p-breadcrumb ol {

  margin-left: 45 !important;
  padding-left: 15px ;
}
:host ::ng-deep .p-breadcrumb ol a{

 text-decoration: none;
}

:host ::ng-deep .p-breadcrumb .p-menuitem-link{
  color: var(--Neutral-Neutral50, #787579) !important;
font-family: Inter;
font-size: 18.189px;
font-style: normal;
font-weight: 500;
line-height: 20.463px; /* 112.5% */
}






.popup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
}

.popup-content {
  position: relative;
  top:10%;
  bottom:30%;
  left:10%;
  right:10%;
  max-width: 90%;
  max-height: 90%;

}

.popup-image {
  width: 80%;
  height: 80%;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
}




.selected-thumbnail {
  border: 3px solid #007bff;
}
.qr-code-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border: 1px solid #e5e7eb;
  border-radius: 10px;
  background-color: #ffffff;
  margin: 10px 0;
}

.qr-code-details {
  display: flex;
  align-items: center;
}

.qr-title {
  font-weight: bold;
  color: #1f4068;
  margin-right: 5px;
}

.qr-code {
  color: #6c6a6a;
}

.qr-actions {
  display: flex;
  align-items: center;
}

.qr-action {
  display: flex;
  align-items: center;
  margin-right: 15px;
  text-decoration: none;
  color: #1f4068;
  font-weight: bold;
}

.qr-action i {
  margin-right: 5px;
}

.btn-assign {
  background-color: #1f4068;
  color: #ffffff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}



.tenant-documents {
  background-color: #f4f3f3;
  border: 1px solid #e5e7eb;
  border-radius: 10px;
  padding: 20px;
  font-family: Arial, sans-serif;
  margin: 20px 0;
}

.tenant-documents .header {
  margin-bottom: 20px;
}

.tenant-documents .header h3 {
  margin: 0;
  font-size: 1.25rem;
  color: #1f4068;
}

.tenant-documents .header p {
  margin: 0;
  font-size: 0.9rem;
  color: #6c6a6a;
}

.documents-container {

  flex-wrap: wrap;

}

.document-item {
  background-color: #ffffff;
  border: 1px solid #e5e7eb;
  border-radius: 10px;
  padding: 15px;
  flex: 1;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.document-header {
  font-size: 1rem;
  color: #1f4068;
  font-weight: bold;
  margin-bottom: 10px;
}

.document-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #e5e7eb;
  border-radius: 10px;
  padding: 15px;
  flex: 1;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom:24px;
}

.doc-info {
  display: flex;
  align-items: center;
}

.doc-info img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.doc-info p {
  margin: 0;
  font-size: 0.9rem;
  color: #6c6a6a;
}

.doc-actions {
  display: flex;
  gap: 10px;
}

.btn-view, .btn-download, .btn-share {
  display: flex;
  align-items: center;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 0.875rem;
  cursor: pointer;
  background-color: #fff;
  color: #1f4068;
}

.btn-view i, .btn-download i, .btn-share i {
  margin-right: 5px;
}








.bgcolor{
  background-color: rgb(162, 239, 162);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

:host ::ng-deep #bed > .p-accordion .p-accordion-content {
  background-color: #f4f3f3 !important;
}

:host ::ng-deep #bed .p-accordion .p-accordion .p-accordion-content {
  background: #fff !important;
}


.booking-process-container {
  background-color: #f4f3f3 !important;
  padding: 1rem;
  border-radius: 0.25rem;
   margin: 0;
}

.booking-process-header {
  font-size: 1.25rem;
  font-weight: 600;
  color: #333;
  margin: 0;
}

.booking-process-subtext {
  font-size: 1rem;
  font-weight: 400;
  color: #6c757d;
  margin: 0;
}



.p-rating .pi-star,
.p-rating .pi-star-o {
    color: yellow;
}


.description-text p {
  /* font-size: 1rem;
  color: #333;
  line-height: 1.6;
  margin-bottom: 1rem; */

  color: var(--Neutral-Neutral40, #605D62);
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
}

.container .requestd{
  max-width: 600px;
  margin: auto;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.card{
  box-shadow: none;
  border:1px solid #e0e0e0;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: all 0.3s ease;

}

.badge {
  color:#1f4068;
  background-color:#ECFDF3;
}

.bookingdetails{
  background-color: rgb(244, 243, 243);
  box-shadow: none;
  border: solid 0.1px rgb(227, 225, 225) ;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;

  padding: 15px;
  padding-top: 5px !important;
}
.bginfo{
  background-color: rgb(244, 243, 243);
}

.no-shadow {
  box-shadow: none !important;
}

.passport {
  display: grid;
  grid-template-columns: 1fr 1fr;
  cursor: pointer;
}
.imgpass{
  height: 190px !important;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.paddingpass{
  padding-left: 30px !important;
}
.texttable{
  font-size: 10px !important;
  background-color: rgb(244, 243, 243);
}
.custom-btn-outline-primary {
  color: #1F4068;
  border: 1px solid #1F4068;
  border-radius: 10px;
  padding: 0.375rem 1.25rem;
  background-color: transparent;
  font-size: 0.875rem;
  text-transform: capitalize;
  transition: background-color 0.3s ease, color 0.3s ease;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.custom-btn-outline-primary:hover {
  background-color: #1F4068;
  color: #ffffff;
}




.ui-accordion .ui-accordion-header {
  font-size: 1rem;
  font-weight: bold;
  color: #000000;
  padding: 1rem;
  border: none;
  background: none;
}


.ui-accordion .ui-accordion-header:hover {
  background-color: #f1f1f1;
}


.ui-accordion .ui-accordion-header .ui-icon {
  font-size: 1.25rem;
  margin-right: 1rem;
  color: #000000;
}


.ui-accordion .ui-accordion-content {
  padding: 1rem;
  border-top: none;
  font-size: 0.875rem;
  color: #6c6a6a;
}


.ui-accordion .ui-accordion-header.ui-state-active {
  background: none;
  color: #1f4068;
  font-weight: bold;
}



.custom-apartment-details {
  max-width: 500px;
  background-color: #ffffff;

  padding: 15px;

}
/* .accord{
  margin-top: 150px;
} */

.custom-apartment-title {
  font-size: 1.25rem;
  font-weight: bold;
  color: #1f4068;
  margin-bottom: 17px;

  color: var(--Neutral-Neutral20, #313033);
font-feature-settings: 'liga' off, 'clig' off;
font-family: Poppins;
font-size: 28px;
font-style: normal;
font-weight: 600;
line-height: 140%;
}

.custom-apartment-type {
  font-size: 0.9rem;
  color: #6c6a6a;
  margin-bottom: 1rem;
}

.custom-apartment-price {
  font-size: 1.5rem;
  color: #1f4068;
  font-weight: bold;
  margin-bottom: 1rem;
}

.custom-apartment-price span {
  font-size: 0.9rem;
  color: #6c6a6a;
}

.custom-apartment-info {
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap:16px;
}

.custom-info-item {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.custom-info-item img {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.custom-info-item p {
  margin: 0;
  font-size: 0.875rem;
  color: #6c6a6a;
}

.custom-apartment-actions {
  margin-top: 1rem;
}

.custom-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 15px;
  padding: 10px 15px;
  font-size: 16px;
  margin: 5px;
  cursor: pointer;
  -webkit-border-radius: 10px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;


}

.custom-btn-icon {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

.custom-btn-edit {
  background-color: #d2d9e1;
  color: #1f4068;
}

.custom-btn-share {
  background-color: #d2d9e1;
  color: #1f4068;
}


.custom-image-gallery {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

.custom-thumbnail {
  border-radius: 10px;
  overflow: hidden;
  flex: 1;
  max-width: 120px;
  max-height: 120px;
}

.custom-thumbnail img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
  transition: transform 0.3s;
}

.custom-thumbnail img:hover {
  transform: scale(1.05);
}

.custom-transport-info {


  padding: 10px;
  max-width: 600px;
  margin: 0 auto;
}

.custom-transport-item {
  margin-bottom: 20px;
}

.custom-transport-distance {
  font-size: 0.875rem;
  font-weight: 600;
  color: #6b7280;
  margin-bottom: 5px;
}

.custom-transport-box {
  background-color: #ffffff;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  padding: 10px 15px;
  font-size: 1rem;
  font-weight: 500;
  color: #374151;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}


.custom-property-info {
  background-color: #ffffff;

  padding: 10px;
  max-width: 400px;
  margin: 0 auto;
}

.custom-property-item {
  margin-bottom: 20px;
}

.custom-property-label {
  font-size: 0.875rem;
  font-weight: 600;
  color: #6b7280;
  margin-bottom: 5px;
}

.custom-property-box {

  border: 1px solid #e5e7eb;
  border-radius: 8px;
  padding: 10px 15px;
  font-size: 1rem;
  font-weight: 500;
  color: #374151;
}


.custom-apartment-buttons {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.custom-btn-rented {
  background-color: #1f4068;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  padding: 10px 15px;
  font-size: 0.875rem;
  margin-bottom: 10px;
  cursor: pointer;
  width: 100%;
}

.custom-btn-delete {
  background-color: #d2d9e1;
  color: #1f4068;
  border: none;
  border-radius: 10px;
  padding: 10px 15px;
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 100%;
}

.custom-btn-delete .custom-btn-icon {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}



.disabled-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 10px;
  padding: 10px 15px;

  color: var(--Neutral-Neutral70, #AFAFAF);
text-align: center;
font-feature-settings: 'liga' off, 'clig' off;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 20px; /* 125% */
border:#fff
}















.p-rating .p-rating-icon.p-rating-icon-active {
    color: #ffce00;
}

.gray {
    color: #605D62
}

.blue {
    color: #1F4068
}

.cursor {
    cursor: pointer;
}

.aboutOwner {
    @media (min-width: 993px) {
        margin-top: -16%;
    }
}

.maxImg {
    max-width: 178px !important;
    max-height: 134px !important;
}

@media (min-width:769px) {
    video {
        width: 500px;
        height: 270px
    }
}

.mapouter {
    position: relative;
    text-align: right;
    width: 500px;
    height: 300px;
}

.gmap_canvas {
    overflow: hidden;
    background: none!important;
    width: 500px;
    height: 300px;
}

.gmap_iframe {
    width: 500px!important;
    height: 300px!important;
}

@media (min-width: 768px) {
    .map-container {
        width: 500px !important;
        height: 300px !important;
    }
}

@media (max-width: 768px) {
    .map-container {
        width: 320px !important;
        height: 300px !important;
    }
}

.scrollmage {
    height: 151px;
    overflow: scroll;
}

.testimonial-group>.row {
    overflow-x: auto;
    white-space: nowrap;
}

.testimonial-group>.row>.col-md-4 {
    display: inline-block;
    float: none;
}
.dataHeader{
  h5{
    color:  #313033;
    font-size: 16px !important;
    font-weight: 600 !important;
    line-height: 24px;
  }
  p{
    color:  #605D62;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }
}
.rating{
  .heading{
    h5{
      color:  #313033;
      font-size: 20px !important;
      font-weight: 600 !important;
      line-height: 24px;
    }
    p{
      color:  #605D62;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
    }
  }
  .card{
    border-radius: 8px;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15);
    .card-title{
      color:  #101828;
      font-size: 20px;
      font-weight: 600;
      line-height: 32px;
    }
    .userInfo{
      h5{
        color:  #313033;
        font-size: 16px !important;
        font-weight: 600 !important;
      }
      p{
        color:  #605D62;
        font-size: 14px;
        font-weight: 400;
      }

    }
    ul{
      li{
        span{
          color: #475467;
        }
      }
    }
    .comment{
      h5{
        color:  #313033;
        font-size: 14px !important;
        font-weight: 500 !important;
      }
      p{
        color:  #605D62;
        font-size: 15px;
        font-weight: 400;
      }

    }
  }
}
.btn.btn-color{
  color: #fff;
  border-radius: 8px;
  font-weight: 500;
  background-color: #1F4068 !important;
  border: 1px solid  #1F4068;
}
.btn.btn-outline{
  color: #1F4068;
  border-radius: 8px;
  font-weight: 500;
  background-color: #fff !important;
  border: 1px solid  #1F4068;
}

.vcrr {
    display: block;
}
.modal .modal-header{
  position: relative;
  top: 0px !important;
  z-index: 9999;
  button{
    background-color: #1F4068;
    width: 40px;
    height: 40px;
    padding: 7.875px 8px 8.125px 8px;
    border: none;
    outline: none;
  }
}

* {
    font-family: 'Poppins'
}
::ng-deep .p-accordion-header-link {
  box-shadow: none !important;
}


:host ::ng-deep .p-galleria {
  visibility: visible !important;
  opacity: 1 !important;
  display: block !important;
}


.flex-container {
  display: flex;
  justify-content: space-between; /* Add space between images */
  align-items: center; /* Align images to the center */
  flex-wrap: wrap; /* If you want images to wrap on smaller screens */
  gap: 10px; /* Adjust gap between the images */
}

.flex-container img {
  flex-basis: 23%; /* Each image will take about 23% of the container width */
  max-width: 100%;
}
:host ::ng-deep .more-d .p-datatable .p-datatable-wrapper {
  display: flex;
   min-height:0% !important;
  flex-direction: column;
}






/* Modal container */
.image-modall{

  position: fixed;
  z-index: 1;
  left: 25%;
  top: 25%;
  width: 50%;
  height: 60%;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Modal content */
.modal-contentt {
  background-color: #fefefe;
  padding: 20px;
  border-radius: 5px;
  position: relative;
  width: 100%;
  height: 100%;
}

/* Close button */
.closee {
  position: absolute;
  top: 10px;
  right: 20px;
  color: #aaa;
  font-size: 28px;
  cursor: pointer;
  z-index: 999999999;
}

.closee:hover {
  color: black;
}

/* Modal image */
.modal-imagee {
 width: 100%;
 height: 100%;
}


.issue-info{
  color: var(--Neutral-Neutral40, #605D62);
font-feature-settings: 'liga' off, 'clig' off;
font-family: Poppins;
font-size: 12px;
font-style: normal;
font-weight: 600;
line-height: 16px; /* 133.333% */
}
.available-appointment{
  color: var(--Neutral-Neutral20, #313033);
font-feature-settings: 'liga' off, 'clig' off;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 140%; /* 28px */
text-transform: capitalize;
margin-bottom: 16px;
}

.info-appointment{
  display: flex;
align-items: flex-start;
gap: 24px;
align-self: stretch;
}

.view{
  display: flex;
height: 56px;
padding: 10px 24px;
align-items: center;
gap: 24px;
flex: 1 0 0;

border-radius: 8px;
border: 1px solid var(--Neutral-Neutral90, #EBEBEB);
background: var(--Key-colors-White, #FFF);


}
.fixcommit{
  color: var(--Neutral-Neutral40, #605D62);
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
  height: auto !important;
  word-break: break-all;
  color: var(--Neutral-Neutral30, #484649);
font-feature-settings: 'liga' off, 'clig' off;

/* Type Style/bodyRg-regular */
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 142.857% */
flex: 1 0 0;
align-self: stretch;
}


@media (max-width:992px) {
  .fixDiv{
    display: none;
  }
  .page{
    padding:24px;
    width:100%;
  }
}


.r-by{
  color: var(--Neutral-Neutral10, #1C1B1F);
font-feature-settings: 'liga' off, 'clig' off;
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 20px; /* 142.857% */

}
.name{
  color: var(--Neutral-Neutral10, #1C1B1F);
font-feature-settings: 'liga' off, 'clig' off;
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 20px; /* 142.857% */
}
.mail{
  color: var(--Neutral-Neutral60, #939094);
font-feature-settings: 'liga' off, 'clig' off;
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 142.857% */
}



::ng-deep .accept .p-button {
  background: var(--Primary-40, #1F4068) !important;
  color:#fff !important;

  transition: none;

  outline-color: none;


  display: flex;
height: 44px;
padding: 12px 24px !important;
align-items: center;

border-radius: 8px !important;
border: 1px solid var(--Primary-Shades-primary70, #798CA4) !important;


text-align: center;
font-feature-settings: 'liga' off, 'clig' off;
font-family: Poppins;
font-size: 16px !important;
font-style: normal;
font-weight: 500;
line-height: 20px;
text-transform: capitalize;

overflow: hidden;
}



:host ::ng-deep .p-dialog{
  width: 35rem !important;
}

.successs{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:16px;
  margin:0
}

::ng-deep .DS .p-dialog-draggable .p-dialog-header {
  padding: 0;
  cursor: move;
}


.textS{
  color: var(--Gray-900, #101828);
  text-align: center;

  /* Text lg/Semibold */
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 155.556% */
}

.featured-icon {
  width: 100px;
  height: 100px;
  padding: 25px;
  background: #d1fadf;
  border-radius: 58.33px;
  border: 16.67px #ecfdf3 solid;
  display: flex;
  justify-content: center;
  align-items: center;

}






.headInfo{
  background: var(--Neutral-Neutral95, #F6F6F6);

}


.user-type{
  display: flex;
height: 260px;
padding: 40px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 20px;
flex: 1 0 0;

border-radius: 12px;
border: 1px solid var(--Neutral-Neutral90, #EBEBEB);
background: var(--Key-colors-White, #FFF);
}
.user-type img {
  display: flex;
width: 100px;
height: 100px;
padding: 12.5px;
justify-content: center;
align-items: center;
gap: 12.5px;
flex-shrink: 0;

border-radius: 10px;
background: rgba(17, 81, 179, 0.08);
}

.personal-info{
  color: var(--Primary-Shades-primary30, #13263E);
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 120%; /* 24px */
letter-spacing: 0.07px;
padding: 20px 0px;
 }

.info-grid {
  display: flex;

align-items: flex-start;
align-content: flex-start;
gap: 20px 188px;
flex-shrink: 0;
flex-wrap: wrap;
}
.h{
  color: var(--Primary-Shades-primary30, #13263E);

font-feature-settings: 'liga' off, 'clig' off;
/* font-family: poppins; */
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 125% */
margin-bottom: 3px;

}
.i{
  color: var(--Neutral-Neutral50, #787579);
font-feature-settings: 'liga' off, 'clig' off;
/* font-family: poppins; */
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 125% */
}

.devider{
  margin-top:32px;
  margin-bottom:12px;


  /* border: solid 1px #EBEBEB; */
  height: 1px;
  background-color: #EBEBEB;
}
.imgs{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap:8px;
  flex-wrap: wrap;
}

.imgs img{
  height: 171px;
  width: 200px;
}


.document-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #e5e7eb;
  border-radius: 10px;
  padding: 15px;
  flex: 1;

  margin:20px 0;
  width: auto;
max-width:500px;

border-radius: 4px;
border: 1px solid var(--Neutral-Neutral90, #EBEBEB);
background: var(--Key-colors-White, #FFF);
box-shadow: none !important;
}

.doc-info {
  display: flex;
  align-items: center;
}

.doc-info img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.doc-info p {
  margin: 0;
  font-size: 0.9rem;
  color: #6c6a6a;
}

.doc-actions {
  display: flex;
  gap: 10px;
}

.btn-view, .btn-download, .btn-share {
  display: flex;
  align-items: center;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 0.875rem;
  cursor: pointer;
  background-color: #fff;
  color: #1f4068;
}



.actions {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 3px 0;
  gap:16px;
}




.success{
  color: var(--Success-100, #12B76A);
text-align: center;

/* Text xs/Medium */
font-family: Inter;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: 18px; /* 150% */

display: flex;
padding: 2px 6px 2px 8px;
align-items: center;
gap: 4px;

border-radius: var(--corner-radius-16, 16px);
background: rgba(18, 183, 106, 0.08);
mix-blend-mode: multiply;
width: fit-content;
}

.danger{
  display: flex;
padding: 2px 6px 2px 8px;
align-items: center;
gap: 4px;
border-radius: var(--corner-radius-16, 16px);
background: var(--Error-50, #FEF3F2);
mix-blend-mode: multiply;

  color: var(--Error-700, #B42318) !important;
text-align: center;

/* Text xs/Medium */
font-family: Inter;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: 18px; /* 150% */
width: fit-content;
}

.info{
  display: flex;

  padding: 2px 6px 2px 8px;

justify-content: center;
align-items: center;
/* align-self: stretch; */
border-radius: var(--corner-radius-16, 16px);
background: var(--Blue-light-50, #F0F9FF);
mix-blend-mode: multiply;

color: var(--Blue-light-700, #026AA2) !important;
text-align: center;

/* Text xs/Medium */
font-family: Inter;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: 18px; /* 150% */
width: fit-content;
}
